# Poweradmin related files
addons/
install/

# Version Control
.gitignore
.git
.github
.gitattributes

# IDE
nbproject
.idea
.settings
.buildpath
.project
.vscode

# PHPUnit
tests
phpunit.xml.dist
.phpunit.cache
.phpunit.result.cache

# Docker
.dockerignore
Dockerfile

# phpDocumentor
docs
.phive

# Misc
**/.DS_Store
.devcontainer
scripts
transifex.yml
# Keep README.md but exclude other markdown files
DONORS.md

# Node.js
package.json
node_modules/
.nvmrc

# Logs
logs
*.log
npm-debug.log*

# Cypress
cypress/
cypress.config.js
cypress/videos
cypress/screenshots

# Configuration files
composer.json
composer.lock
phpcs.xml
phpdoc.dist.xml
phpmd.xml
phpstan.neon
psalm-baseline.xml
psalm.xml
.php-cs-fixer.cache
.php-cs-fixer.php
nginx.conf.example
.htaccess
.hadolint.yaml
