# Poweradmin related
inc/config.inc.php
scripts
templates/custom

# Misc
.DS_Store
.vagrant

# IDE
nbproject
.idea
.settings
.buildpath
.project
.vscode

# phpDocumentor
docs
.phive
tools

# PHPUnit
.phpunit.cache
.phpunit.result.cache

# Devcontainer
.devcontainer/scripts/pdns
