<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_supermasters">{% trans %}Supermasters{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Delete supermaster{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}Delete supermaster{% endtrans %} "{{ master_ip }}"</h5>
<p>
    {% trans %}Hostname in NS record{% endtrans %}: {{ info['ns_name'] }}<br>
    {% trans %}Account{% endtrans %}: {{ info['account'] }}
</p>
<p>{% trans %}Are you sure?{% endtrans %}</p>
<input type="button" class="btn btn-primary btn-sm"
       onClick="location.href='index.php?page=delete_supermaster&master_ip={{ master_ip }}&ns_name={{ info['ns_name'] }}&confirm=1'"
       value="{% trans %}Yes{% endtrans %}">
<input type="button" class="btn btn-secondary btn-sm" onClick="location.href='index.php?page=list_supermasters'" value="{% trans %}No{% endtrans %}">
