<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item">
            {% if idn_zone_name %}
            <a href="index.php?page=edit&id={{ zone_id }}">{{ idn_zone_name }}</a>
            {% else %}
            <a href="index.php?page=edit&id={{ zone_id }}">{{ domain_name }}</a>
            {% endif %}
        </li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}DNSSEC{% endtrans %}</li>
    </ol>
</nav>

{% if idn_zone_name %}
<h5 class="mb-3">{% trans %}DNSSEC keys for zone{% endtrans %} "{{ idn_zone_name }}" ({{ domain_name }})</h5>
{% else %}
<h5 class="mb-3">{% trans %}DNSSEC keys for zone{% endtrans %} "{{ domain_name }}"</h5>
{% endif %}

<table class="table table-striped table-hover table-sm">
    <tr>
        <th>{% trans %}ID{% endtrans %}</th>
        <th>{% trans %}Type{% endtrans %}</th>
        <th>{% trans %}Tag{% endtrans %}</th>
        <th>{% trans %}Algorithm{% endtrans %}</th>
        <th>{% trans %}Bits{% endtrans %}</th>
        <th>{% trans %}Active{% endtrans %}</th>
        <th>&nbsp;</th>
    </tr>

    {% for item in keys %}
    {% if item[5] %}
    {% set button_title = 'Deactivate zone key' %}
    {% set active = 'Yes' %}
    {% else %}
    {% set button_title = 'Activate zone key' %}
    {% set active = 'No' %}
    {% endif %}
    <tr>
        <td>{{ item[0] }}</td>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>
        <td>{{ algorithms[item[3]] }}</td>
        <td>{{ item[4] }}</td>
        <td>{{ active|trans }}</td>
        <td>
            <a class="btn btn-outline-primary btn-sm"
               href="index.php?page=dnssec_edit_key&id={{ zone_id }}&key_id={{ item[0] }}"><i class="bi bi-pencil-square"></i>
                {{ button_title|trans }}</a>
            <a class="btn btn-outline-danger btn-sm" href="index.php?page=dnssec_delete_key&id={{ zone_id }}&key_id={{ item[0] }}"><i
                    class="bi bi-trash"></i> {% trans %}Delete zone key{% endtrans %}</a>
        </td>
    </tr>
    {% endfor %}

</table>
<input class="btn btn-primary btn-sm" type="button" onClick="location.href='index.php?page=dnssec_add_key&id={{ zone_id }}'"
       value="{% trans %}Add new key{% endtrans %}">
<input class="btn btn-secondary btn-sm" type="button" onClick="location.href='index.php?page=dnssec_ds_dnskey&id={{ zone_id }}'"
       value="{% trans %}Show DS and DNSKEY{% endtrans %}">
