</main>
<footer class="footer py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                {% if custom_footer %}
                {% include ('custom/footer.html') %}
                {% else %}
                <a href="https://www.poweradmin.org/">a complete(r) <strong>Poweradmin</strong>
                    {% if version %}
                    v{{ version }}
                    {% endif %}
                </a>
                {% endif %}
            </div>
            <div class="col-md-1 d-flex justify-content-end">
                {% if show_style_switcher %}
                <button class="btn btn-outline-secondary btn-sm" id="style-switcher">
                    <i class="bi" id="style-icon"></i>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</footer>


{% if db_queries %}
<div class="container pt-3 pb-3">
    <code>
        {% for query in db_queries %}
        {{ query }}<br>
        {% endfor %}
    </code>
</div>
{% endif %}
{% if display_stats %}
{{ display_stats | raw }}
{% endif %}
<script src="vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

    (function () {
        'use strict'

        const forms = document.querySelectorAll('.needs-validation');

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()

    const alertList = document.querySelectorAll('.alert')
    const alerts = [...alertList].map(element => new bootstrap.Alert(element))

    const styleSwitcher = document.getElementById('style-switcher');
    const styleIcon = document.getElementById('style-icon');
    const styleStylesheet = document.getElementById('theme-stylesheet');
    const customStylesheet = document.getElementById('custom-theme-stylesheet');
    const ifaceStyle = '{{ iface_style }}';

    let currentStyle = localStorage.getItem('style');
    if (currentStyle !== 'light' && currentStyle !== 'dark') {
        currentStyle = ifaceStyle || 'light';
    }

    function initializeStyle() {
        document.body.classList.add(currentStyle);
        styleIcon.classList.add(currentStyle === 'light' ? 'bi-moon' : 'bi-sun');
        styleStylesheet.href = `{{ theme_base_path }}/{{ theme }}/style/${currentStyle}.css?time={{ file_version }}`;
        // Update custom stylesheet if it exists
        if (customStylesheet) {
            customStylesheet.href = `{{ theme_base_path }}/{{ theme }}/style/custom_${currentStyle}.css?time={{ file_version }}`;
        }
    }

    styleSwitcher.addEventListener('click', () => {
        const newStyle = currentStyle === 'light' ? 'dark' : 'light';
        document.body.classList.replace(currentStyle, newStyle);
        styleIcon.classList.replace(currentStyle === 'light' ? 'bi-moon' : 'bi-sun', newStyle === 'light' ? 'bi-moon' : 'bi-sun');
        styleStylesheet.href = `{{ theme_base_path }}/{{ theme }}/style/${newStyle}.css?time={{ file_version }}`;
        // Update custom stylesheet if it exists
        if (customStylesheet) {
            customStylesheet.href = `{{ theme_base_path }}/{{ theme }}/style/custom_${newStyle}.css?time={{ file_version }}`;
        }
        localStorage.setItem('style', newStyle);
        currentStyle = newStyle;
    });

    initializeStyle();
</script>
</body>
</html>
