<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ base_url_prefix }}/">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="{{ base_url_prefix }}/users">{% trans %}Users{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Permission templates{% endtrans %}</li>
    </ol>
</nav>

<div class="card shadow-sm mb-4">
    <div class="card-header py-3">
        <strong><i class="bi bi-shield-lock me-2"></i>{% trans %}Permission Templates{% endtrans %}</strong>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm mb-0">
                <thead class="table-light">
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Description{% endtrans %}</th>
                    <th class="text-end">{% trans %}Actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% if permission_templates is empty %}
                <tr>
                    <td colspan="3" class="text-center py-3">{% trans %}No permission templates found{% endtrans %}</td>
                </tr>
                {% else %}
                {% for template in permission_templates %}
                <tr>
                    <td>{{ template['name'] }}</td>
                    <td>{{ template['descr'] }}</td>
                    <td class="text-end">
                        <div class="gap-2">
                            <a class="btn btn-sm btn-outline-primary" href="{{ base_url_prefix }}/permissions/templates/{{ template['id'] }}/edit">
                                <i class="bi bi-pencil-square text-primary"></i> <span class="d-none d-md-inline text-primary">{% trans %}Edit{% endtrans %}</span>
                            </a>
                            <a class="btn btn-sm btn-outline-danger" href="{{ base_url_prefix }}/permissions/templates/{{ template['id'] }}/delete">
                                <i class="bi bi-trash text-danger"></i> <span class="d-none d-md-inline text-danger">{% trans %}Delete{% endtrans %}</span>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% if templ_perm_add %}
    <div class="card-footer py-3">
        <a class="btn btn-primary btn-sm" href="{{ base_url_prefix }}/permissions/templates/add">
            <i class="bi bi-plus-circle me-1 text-white"></i>{% trans %}Add permission template{% endtrans %}
        </a>
    </div>
    {% endif %}
</div>
