<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Supermasters{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}List supermasters{% endtrans %}</h5>
<table class="table table-striped table-hover table-sm">
    {% if supermasters %}
    <thead>
    <tr>
        <th>{% trans %}IP address of supermaster{% endtrans %}</th>
        <th>{% trans %}Hostname in NS record{% endtrans %}</th>
        <th>{% trans %}Account{% endtrans %}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for server in supermasters %}
    <tr>
        <td class="col-sm-3">{{ server['master_ip'] }}</td>
        <td class="col-sm-3">{{ server['ns_name'] }}</td>
        <td class="col-sm-2">{{ server['account'] }}</td>
        {% if perm_sm_edit %}
        <td>
            <a class="btn btn-outline-danger btn-sm"
               href="index.php?page=delete_supermaster&master_ip={{ server['master_ip'] }}&ns_name={{ server['ns_name'] }}">
                <i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}
            </a>
        </td>
        {% else %}
        <td>&nbsp;</td>
        {% endif %}
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="3">
            {% trans %}There are no supermasters to show in this listing.{% endtrans %}
        </td>
    </tr>
    {% endif %}
    </tbody>
</table>
{% if perm_sm_add %}
<div>
    <a class="btn btn-primary btn-sm" href="index.php?page=add_supermaster">{% trans %}Add supermaster{% endtrans %}</a>
</div>
{% endif %}