</main>

<footer class="footer py-3 bg-light border">
    <div class="container">
        <a href="https://www.poweradmin.org">a complete(r) <strong>Poweradmin</strong></a>
    </div>
</footer>

<script src="vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script>
    (function () {
        'use strict'

        const forms = document.querySelectorAll('.needs-validation');

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
</body>
</html>