<p>{% trans 'Now we have finished the configuration.' %}</p>
<p>{% trans 'If you want support for the URLs used by other dynamic DNS providers, run "cp install/htaccess.dist .htaccess" and enable mod_rewrite in Apache.' %}</p>
<p>{% trans 'You should (must!) remove the directory "install/" from the Poweradmin root directory. You will not be able to use Poweradmin if it exists. Do it now.' %}</p>
<p>{% trans 'After you have removed the directory, you can login to <a href="../index.php">Poweradmin</a>.' %}</p>