{% extends "base.html.twig" %}

{% block title %}Your Account Information{% endblock %}

{% block content %}
    <h2 class="heading">Your Account Information</h2>
    <p>{{ greeting }},</p>
    <p>Your account has been created. Here are your login details:</p>
    <table style="border-collapse: collapse; width: 100%; margin: 20px 0;" class="table-border">
        <tr>
            <td style="padding: 10px;" class="table-header table-border"><strong>Username:</strong></td>
            <td style="padding: 10px;" class="table-border">{{ username }}</td>
        </tr>
        <tr>
            <td style="padding: 10px;" class="table-header table-border"><strong>Password:</strong></td>
            <td style="padding: 10px;" class="table-border">{{ password }}</td>
        </tr>
    </table>
    <p>For security reasons, please change your password after your first login.</p>
    <p>If you have any questions, please contact your administrator.</p>
{% endblock %}