<h5 class="mb-3">{% trans 'Add slave zone' %}</h5>
<form class="needs-validation" method="post" action="add_zone_slave.php" novalidate>
    <table>
        <tr>
            <td style="vertical-align: top" class="pt-1">{% trans 'Zone name' %}</td>
            <td>
                <input class="form-control form-control-sm" type="text" name="domain" value="" required>
                <div class="invalid-feedback">{% trans 'Provide zone name' %}</div>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top" class="pt-1">{% trans 'IP address of master NS' %}:</td>
            <td>
                <input class="form-control form-control-sm" type="text" name="slave_master" value="" required>
                <div class="invalid-feedback">{% trans 'Provide ip address' %}</div>
            </td>
        </tr>
        <tr>
            <td>{% trans 'Owner' %}:</td>
            <td>
                <select class="form-select form-select-sm" name="owner">
                    {% for user in users %}
                    {% if user['id'] == session_user_id %}
                    <option value="{{ user['id'] }}" selected>{{ user['fullname'] }}</option>
                    {% elseif perm_view_others %}
                    <option value="{{ user['id'] }}">{{ user['fullname'] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input class="btn btn-primary btn-sm" type="submit" name="submit" value="{% trans 'Add zone' %}">
            </td>
        </tr>
    </table>
</form>