<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="list_supermasters.php">{% trans 'Supermasters' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Add supermaster' %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans 'Add supermaster' %}</h5>
<form class="needs-validation" method="post" action="add_supermaster.php" novalidate>
    <div class="col-sm-3">
        <div class="mb-2">
            <label for="master_ip" class="form-label">{% trans 'IP address of supermaster' %}</label>
            <input class="form-control form-control-sm" type="text" id="master_ip" name="master_ip" value="{{ master_ip }}"
                   required>
            <div class="invalid-feedback">{% trans 'Provide ip address' %}</div>
        </div>
        <div class="mb-2">
            <label for="ns_name" class="form-label">{% trans 'Hostname in NS record' %}</label>
            <input class="form-control form-control-sm" type="text" id="ns_name" name="ns_name" value="{{ ns_name }}" required>
            <div class="invalid-feedback">{% trans 'Provide host name' %}</div>
        </div>
        <div class="mb-4">
            <label for="account" class="form-label">{% trans 'Account' %}</label>
            <select class="form-select form-select-sm" id="account" name="account">
                {% for user in users %}
                {% if user['id'] == session_uid %}
                <option value="{{ user['username'] }}" selected>{{ user['fullname'] }}</option>
                {% elseif perm_view_others %}}
                <option value="{{ user['username'] }}">{{ user['fullname'] }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="mb-2">
            <input class="btn btn-primary btn-sm" type="submit" name="submit" value="{% trans 'Add supermaster' %}">
        </div>
    </div>
</form>