<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zone_templ">{% trans %}Zone templates{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Add template{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}Add zone template for{% endtrans %} {{ user_name }}</h5>
<form class="needs-validation" method="post" action="index.php?page=add_zone_templ" novalidate>
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <div class="col-sm-3">
        <div class="mb-2">
            <label for="templ_name" class="form-label">{% trans %}Name{% endtrans %}</label>
            <input class="form-control form-control-sm" type="text" id="templ_name" name="templ_name" value="{{ templ_name }}" required>
            <div class="invalid-feedback">{% trans %}Provide a name for your template{% endtrans %}</div>
        </div>
        <div class="mb-2">
            <label for="templ_descr" class="form-label">{% trans %}Description{% endtrans %}</label>
            <input class="form-control form-control-sm" type="text" id="templ_descr" name="templ_descr" value="{{ templ_descr }}">
        </div>
        {% if perm_is_godlike %}
        <div class="mb-2">
            <input class="form-check-input" type="checkbox" id="templ_global" name="templ_global">
            <label for="templ_global" class="form-check-label">{% trans %}Everyone could use it (global)?{% endtrans %}</label>
        </div>
        {% endif %}
        <div div class="mb-2">
            <input type="submit" class="btn btn-primary btn-sm" name="commit" value="{% trans %}Add zone template{% endtrans %}">
        </div>
    </div>
</form>