<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zone_templ">{% trans %}Zone templates{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=edit_zone_templ&id={{ zone_templ_id }}">{{ templ_name }}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Add record{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}Add record to zone template{% endtrans %} "{{ templ_name }}"</h5>

<form class="needs-validation" method="post" novalidate>
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <input type="hidden" name="domain" value="{{ zone_templ_id }}">
    <table class="table table-striped table-hover table-sm">
        <tr>
            <td>{% trans %}Name{% endtrans %}</td>
            <td>&nbsp;</td>
            <td>{% trans %}Type{% endtrans %}</td>
            <td>{% trans %}Content{% endtrans %}</td>
            <td>{% trans %}Priority{% endtrans %}</td>
            <td>{% trans %}TTL{% endtrans %}</td>
        </tr>
        <tr>
            <td>
                <input class="form-control form-control-sm" type="text" name="name" value="{{ name }}" required>
            </td>
            <td>IN</td>
            <td>
                <select class="form-select form-select-sm" name="type">
                    {% for record_type in record_types %}
                    <option value="{{ record_type }}" {% if record_type== type %}selected{% endif %}>{{ record_type }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input class="form-control form-control-sm" type="text" name="content" value="{{ content }}" required>
                <div class="invalid-feedback">{% trans %}Provide content for your zone record{% endtrans %}</div>
            </td>
            <td><input class="form-control form-control-sm" type="number" name="prio" value="{{ prio }}" min="0"
                       max="65535" pattern="[0-9]*" required></td>
            <td><input class="form-control form-control-sm" type="number" name="ttl" value="{{ ttl }}" min="0"
                       max="2147483647" pattern="[0-9]*" required></td>
        </tr>
        <tr>
            <td colspan="6">
                <div><input class="btn btn-primary btn-sm" type="submit" name="commit"
                            value="{% trans %}Add record{% endtrans %}">
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td colspan="6"><b>{% trans %}Hint:{% endtrans %}</b></td>
        </tr>
        <tr>
            <td colspan="6">{% trans %}The following placeholders can be used in template records{% endtrans %}</td>
        </tr>
        <tr>
            <td colspan="6"><br>&nbsp;&nbsp;&nbsp;&nbsp; * [ZONE] - {% trans %}substituted with current zone name{% endtrans %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [SERIAL] - {% trans %}substituted with current date and 2 numbers{% endtrans %}
                (YYYYMMDD + 00)<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [NS1] - {% trans %}substituted with 1st name server{% endtrans %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [NS2] - {% trans %}substituted with 2nd name server{% endtrans %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [NS3] - {% trans %}substituted with 3rd name server{% endtrans %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [NS4] - {% trans %}substituted with 4th name server{% endtrans %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [HOSTMASTER] - {% trans %}substituted with hostmaster{% endtrans %}
            </td>
        </tr>
        <tr>
            <td colspan="6"><br><b>{% trans %}Examples:{% endtrans %}</b></td>
        </tr>
        <tr>
            <td colspan="6">{% trans %}To add a subdomain foo in a zone template you would put foo.[ZONE] into the name field.{% endtrans %}<br>
                {% trans %}To add a wildcard record put *.[ZONE] in the name field.{% endtrans %}<br>
                {% trans %}Use just [ZONE] to have the domain itself return a value.{% endtrans %}<br>
                {% trans %}For the SOA record, place [NS1] [HOSTMASTER] [SERIAL] 28800 7200 604800 86400 in the content field.{% endtrans %}
            </td>
        </tr>
        <tr>
    </table>
</form>