<h5 class="mb-3">{% trans 'Add permission template' %}</h5>
<form method="post" action="">
    <table>
        <tr>
            <td width="100">{% trans 'Name' %}</td>
            <td><input class="form-control form-control-sm" type="text" name="templ_name" value=""></td>
        </tr>
        <tr>
            <td>{% trans 'Description' %}</td>
            <td><input class="form-control form-control-sm" type="text" name="templ_descr" value=""></td>
        </tr>
    </table>
    <span class="p-3"></span>
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Description' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for perm in perms_avail %}
        {% set descr = perm['descr'] %}
        <tr>
            <td><input class="form-check-input" type="checkbox" name="perm_id[]" value="{{ perm['id'] }}"></td>
            <td>{{ perm['name'] }}</td>
            <td>{% trans descr %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pt-3">
        <input type="submit" class="btn btn-primary btn-sm" name="commit" value="{% trans 'Commit changes' %}">
    </div>
</form>