<h5 class="mb-3">{% trans 'Change password' %}</h5>
<form class="needs-validation" method="post" action="change_password.php" novalidate>
    <div class="row g-2 col-sm-4">
        <div>
            <label for="current_password" class="form-label">{% trans 'Current password' %}</label>
            <input type="password" class="form-control form-control-sm" id="current_password" name="old_password" value="" required>
            <div class="invalid-feedback">{% trans 'Provide current password' %}</div>
        </div>
        <div>
            <label for="new_password" class="form-label">{% trans 'New password' %}</label>
            <input type="password" class="form-control form-control-sm" id="new_password" name="new_password" value="" required>
            <div class="invalid-feedback">{% trans 'Provide new password' %}</div>
        </div>
        <div>
            <label for="repeat_password" class="form-label">{% trans 'Repeat password' %}:</label>
            <input type="password" class="form-control form-control-sm" id="repeat_password" name="new_password2" value="" required>
            <div class="invalid-feedback">{% trans 'Provide new password' %}</div>
        </div>
        <div>
            <input type="submit" class="btn btn-primary btn-sm" name="submit" value="{% trans 'Change password' %}">
        </div>
    </div>
</form>