<h4 class="mb-3">{% trans 'Change password' %}</h4>
<form method="post" action="change_password.php">
    <div class="row g-2 col-sm-4">
        <div>
            <label for="current_password" class="form-label">{% trans 'Current password' %}</label>
            <input type="password" class="form-control" id="current_password" name="currentpass" value="">
        </div>
        <div>
            <label for="new_password" class="form-label">{% trans 'New password' %}</label>
            <input type="password" class="form-control" id="new_password" name="newpass" value="">
        </div>
        <div>
            <label for="repeat_password" class="form-label">{% trans 'Repeat password' %}:</label>
            <input type="password" class="form-control" id="repeat_password" name="newpass2" value="">
        </div>
        <div>
            <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Change password' %}">
        </div>
    </div>
</form>