<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="list_zones.php">{% trans 'Zones' %}</a></li>
        <li class="breadcrumb-item"><a href="edit.php?id={{ zone_id }}">
            {% if idn_zone_name %}
            {{ idn_zone_name }}
            {% else %}
            {{ zone_info['name'] }}
            {% endif %}
        </a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Delete Zone' %}</li>
    </ol>
</nav>

{% if idn_zone_name %}
<h5 class="mb-3">{% trans 'Delete zone' %} "{{ idn_zone_name }}" ({{ zone_info['name'] }})</h5>
{% else %}
<h5 class="mb-3">{% trans 'Delete zone' %} "{{ zone_info['name'] }}"</h5>
{% endif %}

{% trans 'Owner' %}: {{ zone_owners }}<br>
{% trans 'Type' %}: {{ zone_info['type'] }}

{% if slave_master_exists %}
<p>
    {% trans %}You are about to delete a slave zone of which the master nameserver is a supermaster. Deleting the
    zone now, will result in temporary removal only. Whenever the supermaster sends a notification for this zone, it
    will be added again!{% endtrans %}
</p>
{% endif %}

<p>{% trans 'Are you sure?' %}</p>
<input type="button" class="btn btn-primary btn-sm" onClick="location.href='delete_domain.php?id={{ zone_id }}&confirm=1'"
       value="{% trans 'Yes' %}">
<input type="button" class="btn btn-secondary btn-sm" onClick="location.href='list_zones.php'" value="{% trans 'No' %}">
