<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=edit&id={{ zone_id }}">
            {% if idn_zone_name %}
            {{ idn_zone_name }}
            {% else %}
            {{ zone_name }}
            {% endif %}
        </a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Delete Record{% endtrans %}</li>
    </ol>
</nav>

{% if idn_zone_name %}
<h5 class="mb-3">{% trans %}Delete record in zone{% endtrans %} "{{ idn_zone_name }}" ({{ zone_name }})</h5>
{% else %}
<h5 class="mb-3">{% trans %}Delete record in zone{% endtrans %} "{{ zone_name }}"</h5>
{% endif %}

<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Content</th>
        {% if record_info['prio'] %}
        <th>Priority</th>
        {% endif %}
        <th>TTL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ record_info['name'] }}</td>
        <td>{{ record_info['type'] }}</td>
        <td>{{ record_info['content'] }}</td>
        {% if record_info['prio'] %}
        <td>{{ record_info['prio'] }}</td>
        {% endif %}
        <td>{{ record_info['ttl'] }}</td>
    </tr>
    </tbody>
</table>
{% if (record_info['type'] == 'NS' and record_info['name'] == zone_name) or record_info['type'] == 'SOA' %}
<p>{% trans %}You are trying to delete a record that is needed for this zone to work.{% endtrans %}</p>
{% endif %}
<p>{% trans %}Are you sure?{% endtrans %}</p>
<input type="button" class="btn btn-primary btn-sm" onClick="location.href='index.php?page=delete_record&id={{ record_id }}&confirm=1'"
       value="{% trans %}Yes{% endtrans %}">
<input type="button" class="btn btn-secondary btn-sm" onClick="location.href='index.php?page=edit&id={{ zone_id }}'" value="{% trans %}No{% endtrans %}">
