<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Delete zones{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}Delete zones{% endtrans %}</h5>
<form method="post" action="index.php?page=delete_domains">
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Owner{% endtrans %}</th>
                <th>{% trans %}Type{% endtrans %}</th>
                <th>{% trans %}Note{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>

        {% for zone in zones %}
        <tr>
            <input type="hidden" name="zone_id[]" value="{{ zone['id'] }}">
            <td>
                {% if zone['idn_zone_name'] %}
                {{ zone['idn_zone_name'] }} ({{ zone['name'] }})
                {% else %}
                {{ zone['name'] }}
                {% endif %}
            </td>
            <td>{{ zone['owner'] }}</td>
            <td>{{ zone['type'] }}</td>

            <td>
                {% if perm_edit != "all" and (perm_edit != "own" or zone['is_owner'] != "1") %}
                {{ error }}
                {% endif %}

                {% if zone['has_supermaster'] %}
                {% trans %}You are about to delete a slave zone of which the master nameserver is a supermaster. Deleting the zone now, will result in temporary removal only. Whenever the supermaster sends a notification for this zone, it will be added again!{% endtrans %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <p>{% trans %}Are you sure?{% endtrans %}</p>
    <input class="btn btn-primary btn-sm" type="submit" name="confirm" value="{% trans %}Yes{% endtrans %}">
    <input class="btn btn-secondary btn-sm" type="button" onClick="location.href='index.php?page=list_zones'"
           value="{% trans %}No{% endtrans %}">
</form>
