<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=users">{% trans %}Users{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Delete user{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}Delete user{% endtrans %} "{{ name }}"</h5>
<form method="post" action="">
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <table class="table table-striped table-sm">

        {% if zones_count > 0 %}
        <tr>
            <td colspan="5">
                {% trans %}You are about to delete a user. This user is owner for a number of zones. Please decide what to do with these zones.{% endtrans %}
            </td>
        </tr>

        <tr>
            <th>{% trans %}Zone{% endtrans %}</th>
            <th>{% trans %}Delete{% endtrans %}</th>
            <th>{% trans %}Leave{% endtrans %}</th>
            <th>{% trans %}Add new owner{% endtrans %}</th>
            <th>{% trans %}Owner to be added{% endtrans %}</th>
        </tr>

        {% for zone in zones %}
        <input type="hidden" name="zone[{{ zone['id']}}][zid]" value="{{ zone['id']}}">
        <tr>
            <td>{{ zone['name']}}</td>
            <td><input type="radio" name="zone[{{ zone['id']}}][target]" value="delete"></td>
            <td><input type="radio" name="zone[{{ zone['id']}}][target]" value="leave" CHECKED></td>
            <td><input type="radio" name="zone[{{ zone['id']}}][target]" value="new_owner"></td>
            <td>
                <select class="form-select form-select-sm" name="zone[{{ zone['id']}}][newowner]">
                    {% for user in users %}
                    <option value="{{ user['id'] }}">{{ user["fullname"]}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        <tr>
            <td colspan="5">

                {% trans %}Are you sure?{% endtrans %}
            </td>
        </tr>

    </table>
    <input class="btn btn-primary btn-sm" type="submit" name="commit" value="{% trans %}Yes{% endtrans %}">
    <input class="btn btn-secondary btn-sm" type="button" onClick="location.href='index.php?page=users'" value="{% trans %}No{% endtrans %}">
</form>