<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=users">{% trans %}Users{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_perm_templ">{% trans %}Permission templates{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Delete{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}Delete permission template{% endtrans %} "{{ templ_name }}"</h5>

<p>{% trans %}Are you sure?{% endtrans %}</p>
<input type="button" class="btn btn-primary btn-sm" onClick="location.href='index.php?page=delete_perm_templ&id={{ perm_templ_id }}&confirm=1'" value="{% trans %}Yes{% endtrans %}">
<input type="button" class="btn btn-secondary btn-sm" onClick="location.href='index.php?page=list_perm_templ'" value="{% trans %}No{% endtrans %}">
