<h4 class="mb-3">{% trans 'Delete record in zone' %} "<a href="edit.php?id={{ zid }}">{{ zone_name }}</a>"</h4>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Content</th>
        {% if record_info['prio'] %}
        <th>Priority</th>
        {% endif %}
        <th>TTL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ record_info['name'] }}</td>
        <td>{{ record_info['type'] }}</td>
        <td>{{ record_info['content'] }}</td>
        {% if record_info['prio'] %}
        <td>{{ record_info['prio'] }}</td>
        {% endif %}
        <td>{{ record_info['ttl'] }}</td>
    </tr>
    </tbody>
</table>
{% if (record_info['type'] == 'NS' and record_info['name'] == zone_name) or record_info['type'] == 'SOA' %}
<p>{% trans 'You are trying to delete a record that is needed for this zone to work.' %}</p>
{% endif %}
<p>{% trans 'Are you sure?' %}</p>
<input type="button" class="btn btn-primary" onClick="location.href='delete_record.php?id={{ record_id }}&confirm=1'"
       value="{% trans 'Yes' %}">
<input type="button" class="btn btn-secondary" onClick="location.href='edit.php?id={{ zid }}'" value="{% trans 'No' %}">
