<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item">
            {% if idn_zone_name %}
            <a href="index.php?page=edit&id={{ zone_id }}">{{ idn_zone_name }}</a>
            {% else %}
            <a href="index.php?page=edit&id={{ zone_id }}">{{ domain_name }}</a>
            {% endif %}
        </li>
        <li class="breadcrumb-item">
            <a href="index.php?page=dnssec&id={{ zone_id }}">{% trans %}DNSSEC{% endtrans %}</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            {% if key_info[5] %}
            {% trans %}Deactivate key{% endtrans %}
            {% else %}
            {% trans %}Activate key{% endtrans %}
            {% endif %}
        </li>
    </ol>
</nav>

{% if key_info[5] %}
<h5 class="mb-3">{% trans %}Deactivate zone key{% endtrans %}</h5>
{% else %}
<h5 class="mb-3">{% trans %}Activate zone key{% endtrans %}</h5>
{% endif %}

{% if key_info[5] %}
{% set active = 'Yes' %}
{% else %}
{% set active = 'No' %}
{% endif %}

{% trans %}Domain{% endtrans %}:
{% if idn_zone_name %}
{{ idn_zone_name }} ({{ domain_name }})
{% else %}
{{ domain_name }}
{% endif %}
<br>
{% trans %}Id{% endtrans %}: {{ key_info[0] }}<br>
{% trans %}Type{% endtrans %}: {{ key_info[1] }}<br>
{% trans %}Tag{% endtrans %}: {{ key_info[2] }}<br>
{% trans %}Algorithm{% endtrans %}: {{ algorithms[key_info[3]] }}<br>
{% trans %}Bits{% endtrans %}: {{ key_info[4] }}<br>
{% trans %}Active{% endtrans %}: {{ active|trans }}<br>
<p class="pt-3"><strong>{% trans %}Are you sure?{% endtrans %}</strong></p>
<input class="btn btn-primary btn-sm" type="button"
       onClick="location.href='index.php?page=dnssec_edit_key&id={{ zone_id }}&key_id={{ key_id }}&confirm=1'"
       value="{% trans %}Yes{% endtrans %}">
<input class="btn btn-secondary btn-sm" type="button" onClick="location.href='index.php?page=dnssec&id={{ zone_id }}'" value="{% trans %}No{% endtrans %}">
