<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item">
            {% if idn_zone_name %}
            <a href="index.php?page=edit&id={{ zone_id }}">{{ idn_zone_name }}</a>
            {% else %}
            <a href="index.php?page=edit&id={{ zone_id }}">{{ domain_name }}</a>
            {% endif %}
        </li>
        <li class="breadcrumb-item">
            <a href="index.php?page=dnssec&id={{ zone_id }}">{% trans %}DNSSEC{% endtrans %}</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Add key{% endtrans %}</li>
    </ol>
</nav>

{% if idn_zone_name %}
<h5 class="mb-3">{% trans %}Add key for zone{% endtrans %} "{{ idn_zone_name }}" ({{ domain_name }})</h5>
{% else %}
<h5 class="mb-3">{% trans %}Add key for zone{% endtrans %} "{{ domain_name }}"</h5>
{% endif %}

<form class="needs-validation" method="post" action="index.php?page=dnssec_add_key&id={{ zone_id }}" novalidate>
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <table>
        <tr>
            <td style="vertical-align: top" class="pt-1">{% trans %}Key type{% endtrans %}</td>
            <td>
                <select class="form-select form-select-sm" name="key_type" required>
                    <option value=""></option>
                    <option value="ksk">KSK</option>
                    <option value="zsk">ZSK</option>
                </select>
                <div class="invalid-feedback">{% trans %}Select key type{% endtrans %}</div>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top" class="pt-1">{% trans %}Bits in length{% endtrans %}</td>
            <td>
                <select class="form-select form-select-sm" name="bits" required>
                    <option value=""></option>
                    <option value="2048">2048</option>
                    <option value="1024">1024</option>
                    <option value="768">768</option>
                    <option value="384">384</option>
                    <option value="256">256</option>
                </select>
                <div class="invalid-feedback">{% trans %}Select bits length{% endtrans %}</div>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top" class="pt-1">{% trans %}Algorithm{% endtrans %}</td>
            <td>

                <select class="form-select form-select-sm" name="algorithm" required>
                    <option value=""></option>
                    <option value="rsasha1">{{ algorithm_names['rsasha1'] }}</option>
                    <option value="rsasha1-nsec3">{{ algorithm_names['rsasha1-nsec3'] }}</option>
                    <option value="rsasha256">{{ algorithm_names['rsasha256'] }}</option>
                    <option value="rsasha512">{{ algorithm_names['rsasha512'] }}</option>
                    <option value="ecdsa256">{{ algorithm_names['ecdsa256'] }}</option>
                    <option value="ecdsa384">{{ algorithm_names['ecdsa384'] }}</option>
                    <option value="ed25519">{{ algorithm_names['ed25519'] }}</option>
                    <option value="ed448">{{ algorithm_names['ed448'] }}</option>
                </select>
                <div class="invalid-feedback">{% trans %}Select algorithm{% endtrans %}</div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input class="btn btn-primary btn-sm" type="submit" name="submit" value="{% trans %}Add key{% endtrans %}">
            </td>
        </tr>
    </table>
</form>
