<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="list_zones.php">{% trans 'Zones' %}</a></li>
        <li class="breadcrumb-item"><a href="list_zone_templ.php">{% trans 'Zone templates' %}</a></li>
        <li class="breadcrumb-item">{{ templ_details['name'] }}</li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit template' %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans 'Edit zone template' %} "{{templ_details['name']}}"</h5>
<div>
    {{ pagination | raw }}
</div>

{% if records == "-1" %}
<div class='text-secondary'>{% trans 'This zone template does not have any records yet.' %}</div>
<br>
<div><input class="btn btn-primary btn-sm" type="button"
            onClick="location.href='add_zone_templ_record.php?id={{zone_templ_id}}'" value="{% trans 'Add record' %}">
</div>
{% else %}
<form method="post" action="">
    <table class="table table-striped table-hover table-sm">
        <tr>
            <th><a href="edit_zone_templ.php?id=" {{zone_templ_id}}&amp;record_sort_by=name">{% trans 'Name' %}</a></th>
            <th><a href="edit_zone_templ.php?id=" {{zone_templ_id}}&amp;record_sort_by=type">{% trans 'Type' %}</a></th>
            <th><a href="edit_zone_templ.php?id=" {{zone_templ_id}}&amp;record_sort_by=content">{% trans 'Content'
                %}</a></th>
            <th><a href="edit_zone_templ.php?id=" {{zone_templ_id}}&amp;record_sort_by=prio">{% trans 'Priority' %}</a>
            </th>
            <th><a href="edit_zone_templ.php?id=" {{zone_templ_id}}&amp;record_sort_by=ttl">{% trans 'TTL' %}</a></th>
            <th>&nbsp;</th>
        </tr>
        {% for record in records %}
        <tr>
            <td class="col-sm-2">{{record['name']}}</td>
            <td class="col-sm-1">{{record['type']}}</td>
            <td class="col-sm-3">{{record['content']}}</td>
            {% if (record['type'] == "MX") or (record['type'] == "SRV") %}
            <td class="col-sm-1">{{record['prio']}}</td>
            {% else %}
            <td class="col-sm-1">&nbsp;</td>
            {% endif %}
            <td class="col-sm-1">{{record['ttl']}}</td>
            <td>
                <input type="hidden" name="record[{{record['id']}}][rid]" value="{{record['id']}}">
                <a class="btn btn-outline-primary btn-sm"
                   href="edit_zone_templ_record.php?id={{record['id']}}&amp;zone_templ_id={{zone_templ_id}}">
                    <i class="bi bi-pencil-square"></i> {% trans 'Edit' %}</a>
                <a class="btn btn-outline-danger btn-sm"
                   href="delete_zone_templ_record.php?id={{record['id']}}&amp;zone_templ_id={{zone_templ_id}}">
                    <i class="bi bi-trash"></i> {% trans 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="6">
                <input class="btn btn-primary btn-sm" type="button"
                       onClick="location.href='add_zone_templ_record.php?id={{zone_templ_id}}'"
                       value="{% trans 'Add record' %}">&nbsp;&nbsp
            </td>
        </tr>
    </table>
    <input class="btn btn-secondary btn-sm" type="submit" name="update_zones" value="{% trans 'Update zones' %}">

    <table>
        <tr>
            <td colspan="6"><br><b>{% trans 'Hint:' %}</b></td>
        </tr>
        <tr>
            <td colspan="6">{% trans 'The following placeholders can be used in template records' %}</td>
        </tr>
        <tr>
            <td colspan="6"><br>&nbsp;&nbsp;&nbsp;&nbsp; * [ZONE] - {% trans 'substituted with current zone name' %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [SERIAL] - {% trans 'substituted with current date and 2 numbers' %}
                (YYYYMMDD + 00)<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [NS1] - {% trans 'substituted with 1st name server' %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [NS2] - {% trans 'substituted with 2nd name server' %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [NS3] - {% trans 'substituted with 3rd name server' %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [NS4] - {% trans 'substituted with 4th name server' %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [HOSTMASTER] - {% trans 'substituted with hostmaster' %}
            </td>
        </tr>
        <tr>
            <td colspan="6"><br><b>{% trans 'Examples:' %}</b></td>
        </tr>
        <tr>
            <td colspan="6">{% trans 'To add a subdomain foo in a zonetemplate you would put foo.[ZONE] into the name
                field.' %}<br>
                {% trans 'To add a wildcard record put *.[ZONE] in the name field.' %}<br>
                {% trans 'Use just [ZONE] to have the domain itself return a value.' %}<br>
                {% trans 'For the SOA record, place [NS1] [HOSTMASTER] [SERIAL] 28800 7200 604800 86400 in the content
                field.' %}
            </td>
        </tr>
    </table>
</form>
<!--<hr>-->
<!--<form class="needs-validation" method="post" action="" novalidate>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td colspan="6"><strong>Save as new template:</strong></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>{% trans 'Template Name' %}</td>-->
<!--            <td>-->
<!--                <input class="form-control form-control-sm" type="text" name="templ_name" value="" required>-->
<!--                <div class="invalid-feedback">{% trans 'Provide a name for your template' %}</div>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>{% trans 'Template Description' %}</td>-->
<!--            <td><input class="form-control form-control-sm" type="text" name="templ_descr" value=""></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    <input class="btn btn-secondary btn-sm" type="submit" name="save_as" value="{% trans 'Save as template' %}">-->
<!--</form>-->
<hr>

<form class="needs-validation" method="post" action="" novalidate>
    <table>
        <tr>
            <td style="vertical-align: top" class="pt-1">{% trans 'Name' %}</td>
            <td>
                <input class="form-control form-control-sm" type="text" name="templ_name"
                       value="{{templ_details['name']}}" required>
                <div class="invalid-feedback">{% trans 'Provide a name for your template' %}</div>
            </td>
        </tr>
        <tr>
            <td>{% trans 'Description' %}</td>
            <td><input class="form-control form-control-sm" type="text" name="templ_descr"
                       value="{{templ_details['descr']}}"></td>
        </tr>
    </table>
    <div class="pt-3">
        <input class="btn btn-primary btn-sm" type="submit" name="edit" value="{% trans 'Update' %}">
    </div>
</form>
<div class="pt-3">
    {% endif %}
</div>