<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zone_templ">{% trans %}Zone templates{% endtrans %}</a></li>
        <li class="breadcrumb-item">{{ templ_details['name'] }}</li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Edit template{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}Edit zone template{% endtrans %} "{{templ_details['name']}}"</h5>
<div>
    {{ pagination | raw }}
</div>

{% if records == "-1" %}
<div class='text-secondary'>{% trans %}This zone template does not have any records yet.{% endtrans %}</div>
<br>
<div><input class="btn btn-primary btn-sm" type="button"
            onClick="location.href='index.php?page=add_zone_templ_record&id={{zone_templ_id}}'"
            value="{% trans %}Add record{% endtrans %}">
</div>
{% else %}
<form method="post" action="">
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <table class="table table-striped table-hover table-sm">
        <tr>
            <th><a href="index.php?page=edit_zone_templ&id={{zone_templ_id}}&amp;record_sort_by=name">{% trans %}Name{% endtrans %}</a></th>
            <th><a href="index.php?page=edit_zone_templ&id={{zone_templ_id}}&amp;record_sort_by=type">{% trans %}Type{% endtrans %}</a></th>
            <th><a href="index.php?page=edit_zone_templ&id={{zone_templ_id}}&amp;record_sort_by=content">{% trans %}Content{% endtrans %}</a></th>
            <th><a href="index.php?page=edit_zone_templ&id={{zone_templ_id}}&amp;record_sort_by=prio">{% trans %}Priority{% endtrans %}</a>
            </th>
            <th><a href="index.php?page=edit_zone_templ&id={{zone_templ_id}}&amp;record_sort_by=ttl">{% trans %}TTL{% endtrans %}</a></th>
            <th>&nbsp;</th>
        </tr>
        {% for record in records %}
        <tr>
            <td class="col-sm-2">{{record['name']}}</td>
            <td class="col-sm-1">{{record['type']}}</td>
            <td class="col-sm-3"><input class="form-control form-control-sm" type="text" name="content" value="{{record['content']}}" disabled></td>
            {% if (record['type'] == "MX") or (record['type'] == "SRV") %}
            <td class="col-sm-1">{{record['prio']}}</td>
            {% else %}
            <td class="col-sm-1">&nbsp;</td>
            {% endif %}
            <td class="col-sm-1">{{record['ttl']}}</td>
            <td>
                <input type="hidden" name="record[{{record['id']}}][rid]" value="{{record['id']}}">
                <a class="btn btn-outline-primary btn-sm"
                   href="index.php?page=edit_zone_templ_record&id={{record['id']}}&amp;zone_templ_id={{zone_templ_id}}">
                    <i class="bi bi-pencil-square"></i> {% trans %}Edit{% endtrans %}</a>
                <a class="btn btn-outline-danger btn-sm"
                   href="index.php?page=delete_zone_templ_record&id={{record['id']}}&amp;zone_templ_id={{zone_templ_id}}">
                    <i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}</a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="6">
                <input class="btn btn-primary btn-sm" type="button"
                       onClick="location.href='index.php?page=add_zone_templ_record&id={{zone_templ_id}}'"
                       value="{% trans %}Add record{% endtrans %}">&nbsp;&nbsp
            </td>
        </tr>
    </table>
    <input class="btn btn-secondary btn-sm" type="submit" name="update_zones"
           value="{% trans %}Update zones{% endtrans %}">

    <table>
        <tr>
            <td colspan="6"><br><b>{% trans %}Hint:{% endtrans %}</b></td>
        </tr>
        <tr>
            <td colspan="6">{% trans %}The following placeholders can be used in template records{% endtrans %}</td>
        </tr>
        <tr>
            <td colspan="6"><br>&nbsp;&nbsp;&nbsp;&nbsp; * [ZONE] - {% trans %}substituted with current zone name{%
                endtrans %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [SERIAL] - {% trans %}substituted with current date and 2 numbers{% endtrans
                %}
                (YYYYMMDD + 00)<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [NS1] - {% trans %}substituted with 1st name server{% endtrans %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [NS2] - {% trans %}substituted with 2nd name server{% endtrans %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [NS3] - {% trans %}substituted with 3rd name server{% endtrans %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [NS4] - {% trans %}substituted with 4th name server{% endtrans %}<br>
                &nbsp;&nbsp;&nbsp;&nbsp; * [HOSTMASTER] - {% trans %}substituted with hostmaster{% endtrans %}
            </td>
        </tr>
        <tr>
            <td colspan="6"><br><b>{% trans %}Examples:{% endtrans %}</b></td>
        </tr>
        <tr>
            <td colspan="6">{% trans %}To add a subdomain foo in a zonetemplate you would put foo.[ZONE] into the name field.{% endtrans %}<br>
                {% trans %}To add a wildcard record put *.[ZONE] in the name field.{% endtrans %}<br>
                {% trans %}Use just [ZONE] to have the domain itself return a value.{% endtrans %}<br>
                {% trans %}For the SOA record, place [NS1] [HOSTMASTER] [SERIAL] 28800 7200 604800 86400 in the content field.{% endtrans %}
            </td>
        </tr>
    </table>
</form>
<!--<hr>-->
<!--<form class="needs-validation" method="post" action="" novalidate>-->
<!--    <input type="hidden" name="_token" value="{{ csrf_token }}">-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td colspan="6"><strong>Save as new template:</strong></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>{% trans %}Template Name{% endtrans %}</td>-->
<!--            <td>-->
<!--                <input class="form-control form-control-sm" type="text" name="templ_name" value="" required>-->
<!--                <div class="invalid-feedback">{% trans %}Provide a name for your template{% endtrans %}</div>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>{% trans %}Template Description{% endtrans %}</td>-->
<!--            <td><input class="form-control form-control-sm" type="text" name="templ_descr" value=""></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    <input class="btn btn-secondary btn-sm" type="submit" name="save_as" value="{% trans %}Save as template{% endtrans %}">-->
<!--</form>-->
{% endif %}

<hr>
<form class="needs-validation" method="post" action="" novalidate>
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <table>
        <tr>
            <td style="vertical-align: top" class="pt-1">{% trans %}Name{% endtrans %}</td>
            <td>
                <input class="form-control form-control-sm" type="text" name="templ_name"
                       value="{{templ_details['name']}}" required>
                <div class="invalid-feedback">{% trans %}Provide a name for your template{% endtrans %}</div>
            </td>
        </tr>
        <tr>
            <td>{% trans %}Description{% endtrans %}</td>
            <td><input class="form-control form-control-sm" type="text" name="templ_descr"
                       value="{{templ_details['descr']}}"></td>
        </tr>
        {% if perm_is_godlike %}
        <tr>
            <td colspan="2">
                <input class="form-check-input" type="checkbox" id="templ_global" name="templ_global" {% if templ_details['owner'] == 0 %}checked{% endif %}>
                <label for="templ_global" class="form-check-label">
                    {% trans %}Everyone could use it (global)?{% endtrans %}</label>
            </td>
        </tr>
        {% endif %}
    </table>
    <div class="pt-3">
        <input class="btn btn-primary btn-sm" type="submit" name="edit" value="{% trans %}Update{% endtrans %}">
    </div>
</form>
