<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item">
            {% if idn_zone_name %}
            {{ idn_zone_name }}
            {% else %}
            {{ zone_name_to_display }}
            {% endif %}
        </li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Edit{% endtrans %}</li>
    </ol>
</nav>

{% if (perm_edit == "all" or (perm_edit == "own" or perm_edit == "own_as_client") and user_is_zone_owner == "1") and domain_type != "SLAVE" and iface_edit_add_record_top %}
<h5 class="mb-3">{% trans %}Add new record{% endtrans %}</h5>

<form class="needs-validation" method="post" action="index.php?page=add_record&id={{ zone_id }}" novalidate>
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <input type="hidden" name="domain" value="{{ zone_id }}">
    <table class="table table-striped table-hover table-sm">
        <tr>
            {% if iface_edit_show_id %}
            <th>&nbsp;</th>
            {% endif %}
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Content{% endtrans %}</th>
            <th>{% trans %}Priority{% endtrans %}</th>
            <th>{% trans %}TTL{% endtrans %}</th>
            {% if iface_record_comments %}
                <th>{% trans %}Comment{% endtrans %}</th>
            {% endif %}
            <th class="text-center">
                {% if not is_reverse_zone and iface_add_reverse_record %}
                    {% trans %}Add PTR{% endtrans %}
                {% endif %}
                {% if is_reverse_zone and iface_add_domain_record %}
                    {% trans %}Add A/AAAA{% endtrans %}
                {% endif %}
            </th>
            <th></th>
        </tr>
        <tr>
            {% if iface_edit_show_id %}
            <td>&nbsp;</td>
            {% endif %}
            <td class="col-sm-2">
                <input class="form-control form-control-sm" type="text" name="name" value="">
            </td>
            <td class="col-sm-1">
                <select id="recordTypeSelectTop" class="form-select form-select-sm" name="type" onchange="updateContentInput('recordTypeSelectTop', 'contentInputContainerTop', 'recordContentTop')">
                    {% set rev = false %}
                    {% for record_type in record_types %}
                    {% set add = "" %}
                    {% if is_reverse_zone and record_type == "PTR" %}
                    {% set add = "SELECTED" %}
                    {% endif %}

                    {% if iface_add_reverse_record and record_type == "A" %}
                    {% set add = "SELECTED" %}
                    {% set rev = true %}
                    {% endif %}
                    <option {{ add }} value="{{ record_type }}">{{ record_type }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <div id="contentInputContainerTop">
                    <input id="recordContentTop" class="form-control form-control-sm" type="text" name="content" value="" required>
                </div>
                <div class="invalid-feedback">{% trans %}Provide content{% endtrans %}</div>
            </td>
            <td class="col-sm-1"><input class="form-control form-control-sm" type="number" name="prio" value="0"
                                        min="0" max="65535" pattern="[0-9]*"></td>
            <td class="col-sm-1"><input class="form-control form-control-sm" type="number" name="ttl"
                                        min="0" max="2147483647" pattern="[0-9]*" value="{{ dns_ttl }}" required>
                <div class="invalid-feedback">{% trans %}Provide TTL{% endtrans %}</div>
            </td>
            {% if iface_record_comments %}
            <td><input class="form-control form-control-sm" type="text" name="comment" value=""></td>
            {% endif %}
            <td class="col-sm-1 text-center">
                {% if not is_reverse_zone and iface_add_reverse_record %}
                <span class="align-middle">
                    <input class="form-check-input" type="checkbox" name="reverse">
                </span>
                {% endif %}
                {% if is_reverse_zone and iface_add_domain_record %}
                <span class="align-middle">
                    <input class="form-check-input" type="checkbox" name="create_domain_record">
                </span>
                {% endif %}
            </td>
            <td class="col-sm-1">
                <input class="btn btn-primary btn-sm" type="submit" name="commit"
                       value="{% trans %}Add record{% endtrans %}">
            </td>
        </tr>
    </table>
</form>
<hr>
{% endif %}

{% if idn_zone_name %}
<h5 class="mb-3">{% trans %}Edit zone{% endtrans %} "{{ idn_zone_name }}" ({{ zone_name_to_display }})</h5>
{% else %}
<h5 class="mb-3">{% trans %}Edit zone{% endtrans %} "{{ zone_name_to_display }}"</h5>
{% endif %}

<div>
    {{ pagination | raw }}
</div>

{% if not records %}
<table class="table table-striped table-hover table-sm">
    <tr>
        <td>{% trans %}This zone does not have any records.{% endtrans %}</td>
    </tr>
</table>
<hr>
{% else %}

<form class="needs-validation" method="post" action="" novalidate>
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <input type="hidden" name="serial" value="{{ serial }}">

    <p>
        {% if perm_edit != "none" and iface_edit_save_changes_top %}
        <input class="btn btn-primary btn-sm" type="submit" name="commit" value="{% trans %}Save changes{% endtrans %}">
        <input class="btn btn-secondary btn-sm" type="reset" name="reset" value="{% trans %}Reset{% endtrans %}">
        {% endif %}
    </p>

    <table class="table table-striped table-hover table-sm">
        <tr>
            {% if iface_edit_show_id %}
            <th>
                <a href="index.php?page=edit&id={{ zone_id }}&record_sort_by=id&sort_direction={{ record_sort_by == 'id' and sort_direction == 'ASC' ? 'DESC' : 'ASC' }}">
                    {% trans %}Id{% endtrans %}
                </a>
                {% if record_sort_by == 'id' %}
                    <i class="bi bi-arrow-{{ sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            {% endif %}
            <th>
                <a href="index.php?page=edit&id={{ zone_id }}&record_sort_by=name&sort_direction={{ record_sort_by == 'name' and sort_direction == 'ASC' ? 'DESC' : 'ASC' }}">
                    {% trans %}Name{% endtrans %}
                </a>
                {% if record_sort_by == 'name' %}
                    <i class="bi bi-arrow-{{ sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th>
                <a href="index.php?page=edit&id={{ zone_id }}&record_sort_by=type&sort_direction={{ record_sort_by == 'type' and sort_direction == 'ASC' ? 'DESC' : 'ASC' }}">
                    {% trans %}Type{% endtrans %}
                </a>
                {% if record_sort_by == 'type' %}
                    <i class="bi bi-arrow-{{ sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th>
                <a href="index.php?page=edit&id={{ zone_id }}&record_sort_by=content&sort_direction={{ record_sort_by == 'content' and sort_direction == 'ASC' ? 'DESC' : 'ASC' }}">
                    {% trans %}Content{% endtrans %}
                </a>
                {% if record_sort_by == 'content' %}
                    <i class="bi bi-arrow-{{ sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th>
                <a href="index.php?page=edit&id={{ zone_id }}&record_sort_by=prio&sort_direction={{ record_sort_by == 'prio' and sort_direction == 'ASC' ? 'DESC' : 'ASC' }}">
                    {% trans %}Priority{% endtrans %}
                </a>
                {% if record_sort_by == 'prio' %}
                    <i class="bi bi-arrow-{{ sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th>
                <a href="index.php?page=edit&id={{ zone_id }}&record_sort_by=ttl&sort_direction={{ record_sort_by == 'ttl' and sort_direction == 'ASC' ? 'DESC' : 'ASC' }}">
                    {% trans %}TTL{% endtrans %}
                </a>
                {% if record_sort_by == 'ttl' %}
                    <i class="bi bi-arrow-{{ sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            {% if iface_record_comments %}
            <th>{% trans %}Comment{% endtrans %}</th>
            {% endif %}
            <th>
                <a href="index.php?page=edit&id={{ zone_id }}&record_sort_by=disabled&sort_direction={{ record_sort_by == 'disabled' and sort_direction == 'ASC' ? 'DESC' : 'ASC' }}">
                    {% trans %}Disabled{% endtrans %}
                </a>
                {% if record_sort_by == 'disabled' %}
                    <i class="bi bi-arrow-{{ sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th>&nbsp;</th>
        </tr>
        {% for r in records %}

        {% if not(r['type'] == "SOA" or (r['type'] == "NS" and perm_edit == "own_as_client")) %}
        <input type="hidden" name="record[{{ r['id'] }}][rid]" value="{{ r['id'] }}">
        <input type="hidden" name="record[{{ r['id'] }}][zid]" value="{{ zone_id }}">
        {% endif %}
        <tr style="font-size: 14px;">
            {% if iface_edit_show_id %}
            <td>{{ r['id'] }}</td>
            {% endif %}
            {% if r['type'] == "SOA" or r['type'] == "NS" and perm_edit == "own_as_client" %}
            <td class="col-sm-2">{{ r['name'] }}</td>
            <td class="col-sm-1">{{ r['type'] }}</td>
            <td>{{ r['content'] }}</td>
            <td>-</td>
            <td class="col-sm-1">{{ r['ttl'] }}</td>
            {% if iface_record_comments %}
            <td>{{ r['comment'] ?? '-' }}</td>
            {% endif %}
            <td class="text-center">{{ r['disabled'] ? 'Yes'|trans : 'No'|trans }}</td>
            {% else %}
            <td class="col-sm-2"><input class="form-control form-control-sm" type="text"
                                        name="record[{{ r['id'] }}][name]" value="{{ r['name'] }}"></td>
            <td class="col-sm-1">
                <select id="recordTypeSelect{{ r['id'] }}" class="form-select form-select-sm" name="record[{{ r['id'] }}][type]" onchange="updateContentInput('recordTypeSelect{{ r['id'] }}', 'contentInputContainer{{ r['id'] }}', 'recordContent{{ r['id'] }}')">
                    {% set found_selected_type = false %}
                    {% for type_available in types %}
                    {% if type_available == r['type'] %}
                    {% set add = "SELECTED" %}
                    {% set found_selected_type = true %}
                    {% else %}
                    {% set add = "" %}
                    {% endif %}
                    <option {{ add }} value="{{ type_available }}">{{ type_available }}</option>
                    {% endfor %}
                    {% if not found_selected_type %}
                    <option selected value="{{ r['type'] }}">{{ r['type'] }}</option>
                    {% endif %}
                </select>
            </td>
            <td>
                <div id="contentInputContainer{{ r['id'] }}">
                    <input id="recordContent{{ r['id'] }}" class="form-control form-control-sm" type="text" name="record[{{ r['id'] }}][content]" value="{{ r['content'] }}">
                </div>
            </td>
            <td><input class="form-control form-control-sm" type="number"
                                        id="priority_field_{{ r['id'] }}" name="record[{{ r['id'] }}][prio]"
                                        min="0" max="65535" pattern="[0-9]*" value="{{ r['prio'] }}"></td>
            <td class="col-sm-1"><input class="form-control form-control-sm" type="text"
                                        min="0" max="2147483647" pattern="[0-9]*" name="record[{{ r['id'] }}][ttl]"
                                        value="{{ r['ttl'] }}"></td>
            {% if iface_record_comments %}
            <td class="col-sm-3"><input class="form-control form-control-sm" type="text" name="record[{{ r['id'] }}][comment]"
                       value="{{ r['comment'] }}"></td>
            {% endif %}
            <td class="text-center">
                <input class="form-check-input" type="checkbox" name="record[{{ r['id'] }}][disabled]" {% if r['disabled'] == 1 %}checked{% endif %}>
            </td>
            {% endif %}

            {% if domain_type == "SLAVE" or perm_edit == "none" or (perm_edit == "own" or perm_edit == "own_as_client") and user_is_zone_owner == "0" %}
            <td>&nbsp;</td>
            {% elseif r['type'] == "SOA" and perm_edit != "all" or r['type'] == "NS" and perm_edit == "own_as_client" %}
            <td>&nbsp;</td>
            {% else %}
            <td class="{{ iface_record_comments ? 'col-sm-1' : 'col-sm-2' }}">
                <a class="btn btn-outline-primary btn-sm" href="index.php?page=edit_record&id={{ r['id'] }}&domain={{ zone_id }}">
                    <i class="bi bi-pencil-square"></i> {% if not iface_record_comments %}{% trans %}Edit{% endtrans %}{% endif %}</a>
                <a class="btn btn-outline-danger btn-sm" href="index.php?page=delete_record&id={{ r['id'] }}&domain={{ zone_id }}">
                    <i class="bi bi-trash"></i> {% if not iface_record_comments %}{% trans %}Delete{% endtrans %}{% endif %}</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

        {% if iface_zone_comments %}
        <tr>
            {% if iface_edit_show_id %}
            <td></td>
            {% endif %}
            <td colspan="{% if not iface_record_comments %}7{% else %}9{% endif %}">{% trans %}Comments{% endtrans %}:</td>
        </tr>
        <tr>
            {% if iface_edit_show_id %}
            <td></td>
            {% endif %}
            <td colspan="6"><textarea class="form-control form-control-sm" rows="5" cols="80" name="comment">{{ zone_comment }}</textarea>
            </td>
            <td colspan="2">
                <a class="btn btn-outline-primary btn-sm" href="index.php?page=edit_comment&id={{ zone_id }}">
                    <i class="bi bi-pencil-square"></i> {% trans %}Edit comment{% endtrans %}</a>
            </td>
        <tr>
            {% endif %}
    </table>

    {% if perm_edit != "none" and not iface_edit_save_changes_top %}
    <input class="btn btn-primary btn-sm" type="submit" name="commit" value="{% trans %}Save changes{% endtrans %}">
    <input class="btn btn-secondary btn-sm" type="reset" name="reset" value="{% trans %}Reset{% endtrans %}">
    {% endif %}

    {% if pdnssec_use %}
    {% if is_secured %}
    <input class="btn btn-secondary btn-sm" type="button" name="dnssec"
           onclick="location.href = 'index.php?page=dnssec&id={{ zone_id }}'" value="{% trans %}DNSSEC{% endtrans %}">
    <input class="btn btn-secondary btn-sm" type="submit" name="unsign_zone"
           value="{% trans %}Unsign this zone{% endtrans %}">
    {% else %}
    <input class="btn btn-secondary btn-sm" type="submit" name="sign_zone"
           value="{% trans %}Sign this zone{% endtrans %}">
    {% endif %}
    {% endif %}
</form>
<hr>
{% endif %}

{% if perm_edit == "all" or (perm_edit == "own" or perm_edit == "own_as_client") and user_is_zone_owner == "1" %}
{% if domain_type != "SLAVE" and not iface_edit_add_record_top %}
<form class="needs-validation" method="post" action="index.php?page=add_record&id={{ zone_id }}" novalidate>
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <input type="hidden" name="domain" value="{{ zone_id }}">
    <table class="table table-striped table-hover table-sm">
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>&nbsp;</th>
            <th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Content{% endtrans %}</th>
            <th>{% trans %}Priority{% endtrans %}</th>
            <th>{% trans %}TTL{% endtrans %}</th>
            {% if iface_record_comments %}
                <th>{% trans %}Comment{% endtrans %}</th>
            {% endif %}
        </tr>
        <tr>
            <td class="col-sm-2"><input class="form-control form-control-sm" type="text" name="name" value="" data-testid="record-name-input">.{{
                idn_zone_name ?: zone_name }}
            </td>
            <td>IN</td>
            <td class="col-sm-1">
                <select id="recordTypeSelectBottom"  class="form-select form-select-sm" name="type" onchange="updateContentInput('recordTypeSelectBottom', 'contentInputContainerBottom', 'recordContentBottom')">
                    {% set rev = false %}
                    {% for record_type in record_types %}
                    {% set add = "" %}
                    {% if is_reverse_zone and record_type == "PTR" %}
                    {% set add = "SELECTED" %}
                    {% endif %}

                    {% if iface_add_reverse_record and record_type == "A" %}
                    {% set add = "SELECTED" %}
                    {% set rev = true %}
                    {% endif %}
                    <option {{ add }} value="{{ record_type }}">{{ record_type }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <div id="contentInputContainerBottom">
                    <input id="recordContentBottom" class="form-control form-control-sm" type="text" name="content" value="" data-testid="record-content-input" required>
                </div>
                <div class="invalid-feedback">{% trans %}Provide content{% endtrans %}</div>
            </td>
            <td class="col-sm-1"><input class="form-control form-control-sm" type="number" name="prio" value="0"
                                        min="0" max="65535" pattern="[0-9]*"></td>
            <td class="col-sm-1"><input class="form-control form-control-sm" type="number" name="ttl"
                                        min="0" max="2147483647" pattern="[0-9]*" value="{{ dns_ttl }}" required>
                <div class="invalid-feedback">{% trans %}Provide TTL{% endtrans %}</div>
            </td>
            {% if iface_record_comments %}
                <td><input class="form-control form-control-sm" type="text" name="comment" value=""></td>
            {% endif %}
        </tr>
    </table>
    <input class="btn btn-primary btn-sm" type="submit" name="commit"
           value="{% trans %}Add record{% endtrans %}" data-testid="add-record-button">

    {% if not is_reverse_zone and iface_add_reverse_record %}
    <span class="align-middle">
        &nbsp;
        <input class="form-check-input" type="checkbox" name="reverse" data-testid="add-reverse-record-checkbox">
        <span class="text-secondary"> {% trans %}Also add a PTR record in the matching zone{% endtrans %}</span>
    </span>
    {% endif %}
    {% if is_reverse_zone and iface_add_domain_record %}
    <span class="align-middle">
        &nbsp;
        <input class="form-check-input" type="checkbox" name="create_domain_record" data-testid="add-domain-record-checkbox">
        <span class="text-secondary"> {% trans %}Also add an A/AAAA record in the matching zone{% endtrans %}</span>
    </span>
    {% endif %}
</form>
<hr>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col">
            {% if perm_zone_master_add and domain_type != "SLAVE"%}
            <form class="needs-validation" method="post" action="" novalidate>
                <input type="hidden" name="_token" value="{{ csrf_token }}">
                <table>
                    <tr>
                        <td><strong>{% trans %}Save as new template{% endtrans %}</strong></td>
                    </tr>
                    <tr>
                        <td>{% trans %}Template Name{% endtrans %}</td>
                        <td>
                            <input class="form-control form-control-sm" type="text" name="templ_name" value="" required>
                            <div class="invalid-feedback">{% trans %}Provide template name{% endtrans %}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans %}Template Description{% endtrans %}</td>
                        <td><input class="form-control form-control-sm" type="text" name="templ_descr" value=""></td>
                    </tr>
                </table>
                <br>
                <input class="btn btn-secondary btn-sm" type="submit" name="save_as"
                       value="{% trans %}Save as template{% endtrans %}">
                {% endif %}
            </form>
            {% endif %}
        </div>
        <div class="col">
            <div id="meta">
                <table>
                    <tr>
                        <th colspan="2">{% trans %}Owner of zone{% endtrans %}</th>
                    </tr>

                    {% if owners == "-1" %}
                    <tr>
                        <td>{% trans %}No owner set for this zone.{% endtrans %}</td>
                    </tr>
                    {% else %}
                    {% if meta_edit %}
                    {% for owner in owners %}
                    <tr>
                        <form method="post" action="index.php?page=edit&id={{ zone_id }}">
                            <input type="hidden" name="_token" value="{{ csrf_token }}">
                            <td>
                                {% if owner["fullname"] %}
                                {{ owner["fullname"] }}
                                {% else %}
                                {{ owner["username"] }}
                                {% endif %}
                            </td>
                            <td>
                                <input type="hidden" name="delete_owner" value="{{ owner['id'] }}">
                                <input class="btn btn-outline-danger btn-sm" type="submit" name="co"
                                       value="{% trans %}Delete{% endtrans %}">
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                    {% else %}
                    {% for owner in owners %}
                    <tr>
                        <td>
                            {% if owner["fullname"] %}
                            {{ owner["fullname"] }}
                            {% else %}
                            {{ owner["username"] }}
                            {% endif %}
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    {% endif %}

                    {% if meta_edit %}
                    <form method="post" action="index.php?page=edit&id={{ zone_id }}">
                        <input type="hidden" name="_token" value="{{ csrf_token }}">
                        <input type="hidden" name="domain" value="{{ zone_id }}">
                        <tr>
                            <td>
                                <select class="form-select form-select-sm" name="newowner">

                                    {% for user in users %}
                                    {% set add = "" %}

                                    {% if user["id"] == session_userid %}
                                    <option {{ add }} value="{{ user['id'] }}">{{ user["fullname"] }}</option>
                                    {% elseif perm_view_others %}
                                    <option value="{{ user['id'] }}">
                                        {% if user["fullname"] %}
                                        {{ user["fullname"] }}
                                        {% else %}
                                        {{ user["username"] }}
                                        {% endif %}
                                    </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input class="btn btn-outline-secondary btn-sm" type="submit" name="co"
                                       value="{% trans %}Add{% endtrans %}">
                            </td>
                        </tr>
                    </form>
                    {% endif %}
                    <tr>
                        <th colspan="2">{% trans %}Type{% endtrans %}</th>
                    </tr>

                    {% if meta_edit %}
                    <form action="index.php?page=edit&id={{ zone_id }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token }}">
                        <input type="hidden" name="domain" value="{{ zone_id }}">
                        <tr>
                            <td>
                                <select class="form-select form-select-sm" name="newtype">
                                    {% for type in zone_types %}
                                    {% set add = '' %}
                                    {% if type == domain_type %}
                                    {% set add = "SELECTED" %}
                                    {% endif %}
                                    <option {{ add }} value="{{ type }}">{{ type | lower }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input class="btn btn-outline-secondary btn-sm" type="submit" name="type_change"
                                       value="{% trans %}Change{% endtrans %}">
                            </td>
                        </tr>
                    </form>
                    {% else %}
                    <tr>
                        <td>{{ domain_type | lower }}</td>
                        <td>&nbsp;</td>
                    </tr>
                    {% endif %}

                    {% if domain_type == "SLAVE" %}
                    <tr>
                        <th colspan="2">{% trans %}IP address of master NS{% endtrans %}</th>
                    </tr>

                    {% if meta_edit %}
                    <form action="index.php?page=edit&id={{ zone_id }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token }}">
                        <input type="hidden" name="domain" value="{{ zone_id }}">
                        <tr>
                            <td>
                                <input class="form-control form-control-sm" type="text" name="new_master"
                                       value="{{ slave_master }}">
                            </td>
                            <td>
                                <input class="btn btn-outline-secondary btn-sm" type="submit" name="slave_master_change"
                                       value="{% trans %}Change{% endtrans %}">
                            </td>
                        </tr>
                    </form>
                    {% else %}
                    <tr>
                        <td>{{ slave_master }}</td>
                        <td>&nbsp;</td>
                    </tr>
                    {% endif %}
                    {% endif %}

                    <tr>
                        <th colspan="2">{% trans %}Template{% endtrans %}</th>
                    </tr>

                    {% if meta_edit %}
                    <form action="index.php?page=edit&id={{ zone_id }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token }}">
                        <input type="hidden" name="current_zone_template" value="{{ zone_template_id }}">
                        <tr>
                            <td>
                                <select class="form-select form-select-sm" name="zone_template">
                                    <option value="none">none</option>
                                    {% for zone_template in zone_templates %}
                                    {% set add = '' %}
                                    {% if zone_template['id'] == zone_template_id %}
                                    {% set add = "SELECTED" %}
                                    {% endif %}
                                    <option {{ add }} value="{{ zone_template['id'] }}">{{ zone_template['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input class="btn btn-outline-secondary btn-sm" type="submit" name="template_change"
                                       value="{% trans %}Change{% endtrans %}">
                            </td>
                        </tr>
                    </form>
                    {% else %}
                    <tr>
                        <td>
                            {% if zone_template_details %}
                            {{ zone_template_details['name'] | lower }}
                            {% else %}
                            none
                            {% endif %}
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>

<script src="assets/textareaAutoResize.js?time={{ file_version }}"></script>
