<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zone_templ">{% trans %}Zone templates{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=edit_zone_templ&?id={{ zone_templ_id }}">{{ templ_details['name'] }}</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Edit record{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}Edit record in zone template{% endtrans %} "{{ templ_details['name'] }}"</h5>
<form class="needs-validation" method="post"
      action="index.php?page=edit_zone_templ_record&zone_templ_id={{ zone_templ_id }}&id={{ record_id }}" novalidate>
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <input type="hidden" name="rid" value="{{ record_id }}">
    <input type="hidden" name="zid" value="{{ zone_templ_id }}">

    <table class="table table-striped table-hover table-sm">
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>&nbsp;</th>
            <th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Content{% endtrans %}</th>
            <th>{% trans %}Priority{% endtrans %}</th>
            <th>{% trans %}TTL{% endtrans %}</th>
        </tr>
        <tr>
            <td><input class="form-control form-control-sm" type="text" name="name" value="{{ record['name'] }}"></td>
            <td>IN</td>
            <td>
                <select class="form-select form-select-sm" name="type">
                    {% set found_selected_type = false %}
                    {% for type_available in record_types %}
                    {% if type_available == record["type"] %}
                    {% set add = " SELECTED" %}
                    {% set found_selected_type = true %}
                    {% else %}
                    {% set add = "" %}
                    {% endif %}
                    <option {{ add }} value="{{ type_available }}">{{ type_available }}</option>
                    {% endfor %}

                    {% if not found_selected_type %}
                    <option selected value="{{ record['type'] }}">{{ record['type'] }}</option>
                    {% endif %}
                </select>
            </td>
            <td><input class="form-control form-control-sm" type="text" name="content" value="{{ record['content'] }}"
                       required>
                <div class="invalid-feedback">{% trans %}Provide content{% endtrans %}</div>
            </td>
            <td><input class="form-control form-control-sm" type="number" name="prio" min="0" max="65535" pattern="[0-9]*"
                       value="{{ record['prio'] }}"></td>
            <td><input class="form-control form-control-sm" type="number" name="ttl" min="0" max="2147483647"
                       pattern="[0-9]*" value="{{ record['ttl'] }}" required></td>
        </tr>
    </table>
    <p class="pt-3">
        <input class="btn btn-primary btn-sm" type="submit" name="commit" value="{% trans %}Update{% endtrans %}">&nbsp;&nbsp;
        <input class="btn btn-secondary btn-sm" type="reset" name="reset" value="{% trans %}Reset{% endtrans %}">&nbsp;&nbsp;
    </p>
</form>