<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=users">{% trans %}Users{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Edit user{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}Edit user{% endtrans %} "{{ name }}"</h5>
<form class="needs-validation" method="post" action="" novalidate>
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <input type="hidden" name="number" value="{{ edit_id }}">
    <table>
        <tr>
            <td>{% trans %}Username{% endtrans %}</td>
            <td><input class="form-control form-control-sm" type="text" name="username" value="{{ user['username'] }}"
                       required>
                <div class="invalid-feedback">{% trans %}Provide user name{% endtrans %}</div>
            </td>
        </tr>
        <tr>
            <td>{% trans %}Fullname{% endtrans %}</td>
            <td><input class="form-control form-control-sm" type="text" name="fullname" value="{{ user['fullname'] }}"
                       required></td>
        </tr>
        <tr>
            <td>{% trans %}Password{% endtrans %}</td>
            <td>
                <div class="input-group">
                    <input class="form-control form-control-sm" type="password" id="password" name="password"
                           {% if (not perm_passwd_edit_others and (edit_own_perm and user['uid'] != session_user_id) or use_ldap_checked) %}disabled{% endif %}>
                    <button class="btn btn-sm btn-outline-secondary" type="button" onclick="showPassword('password', 'eye')"><i class="bi bi-eye-fill" id="eye"></i></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>{% trans %}Email address{% endtrans %}</td>
            <td><input class="form-control form-control-sm" type="text" name="email" value="{{ user['email'] }}"
                       required>
                <div class="invalid-feedback">{% trans %}Provide email{% endtrans %}</div>
            </td>
        </tr>
        {% if edit_templ_perm %}
        <tr>
            <td>{% trans %}Permission template{% endtrans %}</td>
            <td>
                <select class="form-select form-select-sm" name="perm_templ">
                    {% for template in permission_templates %}
                    {% if template['id'] == user['tpl_id'] %}
                    <option value="{{ template['id'] }}" selected>{{ template['name'] }}</option>
                    {% else %}
                    <option value="{{ template['id'] }}">{{ template['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            {% endif %}
        </tr>
        <tr>
            <td>{% trans %}Description{% endtrans %}</td>
            <td><textarea class="form-control form-control-sm" rows="4" cols="30" name="description">{{ user['descr'] }}</textarea>
            </td>
        </tr>
        <tr>
            <td>{% trans %}Enabled{% endtrans %}</td>
            <td><input class="form-check-input" type="checkbox" name="active" value="1" {{ check }}></td>
        </tr>
        {% if ldap_use %}
        <tr>
            <td>{% trans %}LDAP Authentication{% endtrans %}</td>
            <td><input class="form-check-input" id="ldap" type="checkbox" name="use_ldap" value="1"
                       onclick="disablePasswordField()" {{ use_ldap_checked }}></td>
        </tr>
        {% endif %}
        <tr>
            <td>&nbsp;</td>
            <td><input class="btn btn-primary btn-sm" type="submit" name="commit" value="{% trans %}Update{% endtrans %}">
                <input class="btn btn-secondary btn-sm" type="reset" name="reset" value="{% trans %}Reset{% endtrans %}">
            </td>
    </table>
</form>

<div class="pt-3 text-secondary">
    {% trans %}This user has been assigned the permission template{% endtrans %} "{{ user['tpl_name'] }}".<br>
    {% if user['tpl_descr'] != "" %}
    {% trans %}The description for this template is{% endtrans %}: "{{ user['tpl_descr'] }}".<br>
    {% endif %}
    {% trans %}Based on this template, this user has the following permissions{% endtrans %}:
    <ul>
        {% for item in user_permissions %}
        {% set descr = item['descr'] %}
        <li>{{ descr|trans }} ({{ item['name'] }})</li>
        {% endfor %}
    </ul>
</div>