    </div>
    <div class="footer">
        {% if custom_footer %}
            {% include ('custom/footer.html') %}
        {% else %}
            <a href="https://www.poweradmin.org/">a complete(r) <strong>poweradmin</strong>
                {% if version %}
                v{{ version }}
                {% endif %}
            </a>
        {% endif %}
    </div>
    {% if db_queries %}
        <div class="debug">
            {% for query in db_queries %}
                {{ query }}<br>
            {% endfor %}
        </div>
    {% endif %}
    {% if display_stats %}
        {{ display_stats | raw }}
    {% endif %}
</body>
</html>