<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ iface_title }}</title>
    <link rel=stylesheet href="style/{{ iface_style }}.css?time={{ file_version }}" type="text/css">
    <script type="text/javascript" src="inc/helper.js?time={{ file_version }}"></script>
</head>
<body>
    {% if custom_header %}
        {% include ('custom/header.html') %}
    {% else %}
        <h1>{{ iface_title }}</h1>
    {% endif %}