<h5 class="mb-3">{% trans 'Welcome' %} {{ user_name }}</h5>
<ul class="list-group">
    {% if perm_search %}
        <li class="list-group-item list-group-item-action">
            <i class="bi bi-search"></i> <a href="search.php">{% trans 'Search zones and records' %}</a>
        </li>
    {% endif %}
    {% if perm_view_zone_own or perm_view_zone_other %}
        <li class="list-group-item list-group-item-action">
            <i class="bi bi-diagram-3"></i> <a href="list_zones.php">{% trans 'List zones' %}</a>
        </li>
    {% endif %}
    {% if perm_zone_master_add %}
        <li class="list-group-item list-group-item-action">
            <i class="bi bi-files"></i> <a href="list_zone_templ.php">{% trans 'List zone templates' %}</a>
        </li>
    {% endif %}
    {% if perm_supermaster_view %}
        <li class="list-group-item list-group-item-action">
            <i class="bi bi-hdd-rack"></i> <a href="list_supermasters.php">{% trans 'List supermasters' %}</a>
        </li>
    {% endif %}
    {% if perm_zone_master_add %}
        <li class="list-group-item list-group-item-action">
            <i class="bi bi-plus-circle"></i> <a href="add_zone_master.php">{% trans 'Add master zone' %}</a>
        </li>
    {% endif %}
    {% if perm_zone_slave_add %}
        <li class="list-group-item list-group-item-action">
            <i class="bi bi-plus-circle-dotted"></i> <a href="add_zone_slave.php">{% trans 'Add slave zone' %}</a>
        </li>
    {% endif %}
    {% if perm_supermaster_add %}
        <li class="list-group-item list-group-item-action">
            <i class="bi bi-hdd-network"></i> <a href="add_supermaster.php">{% trans 'Add supermaster' %}</a>
        </li>
    {% endif %}
    {% if perm_zone_master_add %}
        <li class="list-group-item list-group-item-action">
            <i class="bi bi-collection"></i> <a href="bulk_registration.php">{% trans 'Bulk registration' %}</a>
        </li>
    {% endif %}
    {% if perm_is_godlike and dblog_use == true %}
    <li class="list-group-item list-group-item-action">
        <i class="bi bi-list-ul"></i> <a href="list_log_zones.php">{% trans 'Zone logs' %}</a>
    </li>
    {% endif %}
    {% if auth_used != "ldap" %}
        <li class="list-group-item list-group-item-action">
            <i class="bi bi-key"></i> <a href="change_password.php">{% trans 'Change password' %}</a>
        </li>
    {% endif %}
    <li class="list-group-item list-group-item-action">
        <i class="bi bi-people"></i> <a href="users.php">{% trans 'User administration' %}</a>
    </li>
    <li class="list-group-item list-group-item-action">
        <i class="bi bi-box-arrow-right"></i> <a href="index.php?logout">{% trans 'Logout' %}</a>
    </li>
</ul>
