<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Zone templates{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}Zone templates for{% endtrans %} "{{ user_name }}"</h5>
<table class="table table-striped table-hover table-sm">
    <thead>
    <tr>
        <th>{% trans %}In use{% endtrans%}</th>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Description{% endtrans %}</th>
        <th>{% trans %}Owner{% endtrans %}</th>
        <th>{% trans %}Type{% endtrans %}</th>
        <th>{% trans %}Zones linked{% endtrans %}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>

    <tbody>
    {% if not zone_templates %}
    <tr>
        <td colspan="7">{% trans %}No results found{% endtrans %}</td>
    </tr>
    {% endif %}
    {% for template in zone_templates %}
    <tr>
        <td class="col-sm-1">
            {% if template['zones_linked'] == '0' %}
            <i class="bi bi-circle"></i>
            {% else %}
            <i class="bi bi-check-circle"></i>
            {% endif %}
        </td>
        <td class="col-sm-2">{{ template['name'] }}</td>
        <td class="col-sm-2">{{ template['descr'] }}</td>
        <td class="col-sm-1">
            {% if template['fullname'] %}
            {{ template['fullname'] }}
            {% elseif template['username'] %}
            {{ template['username'] }}
            {% else %}
            -
            {% endif %}
        </td>
        <td class="col-sm-1">
            {% if template['username'] %}
            {% trans %}private{% endtrans %}
            {% else %}
            {% trans %}global{% endtrans %}
            {% endif %}
        </td>
        <td class="col-sm-1 {% if template['zones_linked'] == '0' %}table-warning{% endif %}">{{ template['zones_linked'] }}</td>
        {% if (perm_zone_master_add and template['username']) or perm_is_godlike %}
        <td class="col-sm-2">
            <a class="btn btn-outline-primary btn-sm" href="index.php?page=edit_zone_templ&id={{ template['id'] }}"><i class="bi bi-pencil-square"></i> {% trans %}Edit{% endtrans %}</a>
            <a class="btn btn-outline-danger btn-sm" href="index.php?page=delete_zone_templ&id={{ template['id'] }}"><i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}</a>
        </td>
        {% else %}
        <td>&nbsp;</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>

</table>
<div>
    <a class="btn btn-primary btn-sm" href="index.php?page=add_zone_templ">{% trans %}Add zone template{% endtrans %}</a>
</div>