<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=users">{% trans %}Users{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Permission templates{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}Permission templates{% endtrans %}</h5>
<table class="table table-striped table-hover table-sm">
    <thead>
    <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Description{% endtrans %}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for template in permission_templates %}
        <tr>
            <td class="col-sm-2">{{ template['name'] }}</td>
            <td class="col-sm-3">{{ template['descr'] }}</td>
            <td>
                <a class="btn btn-outline-primary btn-sm" href="index.php?page=edit_perm_templ&id={{ template['id'] }}"><i class="bi bi-pencil-square"></i> {% trans %}Edit{% endtrans %}</a>
                <a class="btn btn-outline-danger btn-sm" href="index.php?page=delete_perm_templ&id={{ template['id'] }}"><i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}</a>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div>
    {% if templ_perm_add %}
    <a class="btn btn-primary btn-sm" href="index.php?page=add_perm_templ">{% trans %}Add permission template{% endtrans %}</a>
    {% endif %}
</div>