<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=list_zones">{% trans %}Zones{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Zone logs{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}Zone logs{% endtrans %}</h5>
<div class="text-secondary">{% trans %}Total number of logs:{% endtrans %} {{ number_of_logs }}</div><br>

<form>
    <div class="row pb-3">
        <div class="col-sm-4">
            <div class="input-group">
                <input name="name" id="name" type="text" class="form-control form-control-sm"
                       placeholder="{% trans %}Search logs by domain{% endtrans %}"
                       {% if name %}value="{{ name }}" %} {% endif %}>
                <button for="name" type="submit" class="btn btn-primary btn-sm"><i
                        class="bi bi-search"></i>
                    {% trans %}Search{% endtrans %}
                </button>
                <div class="input-group-append">
                    <a href="index.php?page=list_log_zones" class="btn btn-secondary btn-sm" role="button"><i
                            class="bi bi-eraser"></i> {% trans %}Clear{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" action="index.php?page=delete_domains">
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    {% if data %}
    {{ pagination | raw }}
    <table class="table table-striped table-bordered mt-2">
        <thead>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <th>{% trans %}Event{% endtrans %}</th>
            <th>{% trans %}Created at{% endtrans %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row['id'] }}</td>
            <td>{{ row['event'] }}</td>
            <td>{{ row['created_at'] }}</td>
            <td>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="popover"
                        data-bs-title="{% trans %}Details{% endtrans %}"
                        data-bs-content="{{ row['details'] }}">
                    <i class="bi bi-eye"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagination | raw }}
    {% else %}
    {% trans %}No logs found{% endtrans %}
    {% endif %}
</form>
