<h5 class="mb-3">{% trans 'List supermasters' %}</h5>
<table class="table table-striped table-hover table-sm">
    <thead>
    <tr>
        <th>{% trans 'IP address of supermaster' %}</th>
        <th>{% trans 'Hostname in NS record' %}</th>
        <th>{% trans 'Account' %}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% if supermasters %}
    {% for server in supermasters %}
    <tr>
        <td>{{ server['master_ip'] }}</td>
        <td>{{ server['ns_name'] }}</td>
        <td>{{ server['account'] }}</td>
        {% if perm_sm_edit %}
        <td>
            <a class="btn btn-outline-danger btn-sm"
               href="delete_supermaster.php?master_ip={{ server['master_ip'] }}&amp;ns_name={{ server['ns_name'] }}">
                <i class="bi bi-trash"></i> {% trans 'Delete supermaster' %}
            </a>
        </td>
        {% else %}
        <td>&nbsp;</td>
        {% endif %}
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td>&nbsp;</td>
        <td colspan="3">
            {% trans 'There are no zones to show in this listing.' %}
        </td>
    </tr>
    {% endif %}
    </tbody>
</table>
<div>
    <a class="btn btn-primary btn-sm" href="add_supermaster.php">{% trans 'Add supermaster' %}</a>
</div>