<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item"><a href="index.php?page=users">{% trans %}Users{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Permission templates{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3" data-testid="permission-templates-heading">{% trans %}Permission templates{% endtrans %}</h5>
<table class="table table-striped table-hover table-sm" data-testid="permission-templates-table">
    <thead>
    <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Description{% endtrans %}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody data-testid="permission-templates-tbody">
    {% for template in permission_templates %}
        <tr data-testid="permission-template-row-{{ template['id'] }}">
            <td class="col-sm-2" data-testid="template-name-{{ template['id'] }}">{{ template['name'] }}</td>
            <td class="col-sm-3" data-testid="template-descr-{{ template['id'] }}">{{ template['descr'] }}</td>
            <td>
                <a class="btn btn-outline-primary btn-sm" href="index.php?page=edit_perm_templ&id={{ template['id'] }}" data-testid="edit-template-{{ template['id'] }}"><i class="bi bi-pencil-square"></i> {% trans %}Edit{% endtrans %}</a>
                <a class="btn btn-outline-danger btn-sm" href="index.php?page=delete_perm_templ&id={{ template['id'] }}" data-testid="delete-template-{{ template['id'] }}"><i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div>
    {% if templ_perm_add %}
    <a class="btn btn-primary btn-sm" href="index.php?page=add_perm_templ" data-testid="add-permission-template-link">{% trans %}Add permission template{% endtrans %}</a>
    {% endif %}
</div>