<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item" aria-current="page">{% trans %}Search{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}Search zones and records{% endtrans %}</h5>
<span class="text-secondary">{% trans %}Enter a hostname or IP address. SQL LIKE syntax supported: an underscore (_) in pattern matches any single character, a percent sign (%) matches any string of zero or more characters.{% endtrans %}</span>
<form class="needs-validation" name="search_form" action="index.php?page=search" method="POST" onsubmit="checkQueryChange(this);" novalidate>
    <input type="hidden" name="_token" value="{{ csrf_token }}">
    <input type="hidden" name="zone_sort_by" value="{{ zone_sort_by }}">
    <input type="hidden" name="record_sort_by" value="{{ record_sort_by }}">
    <input type="hidden" name="zones_page" value="{{ zones_page }}">
    <input type="hidden" name="records_page" value="{{ records_page }}">
    <input type="hidden" name="zone_sort_by_direction" value="{{ zone_sort_direction }}">
    <input type="hidden" name="record_sort_by_direction" value="{{ record_sort_direction }}">

    <div class="row pt-3 pb-3">
        <div class="col-sm-4">
            <div class="input-group has-validation">
                <input type="text" class="form-control form-control-sm" name="query" value="{{ query }}" required>
                <input type="submit" class="btn btn-primary btn-sm" name="do_search" value="{% trans %}Search{% endtrans %}">
                <div class="input-group-append">
                    <a href="index.php?page=search" class="btn btn-secondary btn-sm" role="button"><i class="bi bi-eraser"></i> {% trans %}Clear{% endtrans %}</a>
                </div>
                <div class="invalid-feedback">{% trans %}Provide a keyword for your search{% endtrans %}</div>
            </div>
        </div>
        <div class="col-sm-8 mt-1">
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="zones" id="inlineCheckbox1"
                       value="true" {% if search_by_zones %}checked{% endif %}>
                <label class="form-check-label" for="inlineCheckbox1">{% trans %}Zones{% endtrans %}</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="records" id="inlineCheckbox2"
                       value="true" {% if search_by_records %}checked{% endif %}>
                <label class="form-check-label" for="inlineCheckbox2">{% trans %}Records{% endtrans %}</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="wildcard" id="inlineCheckbox3"
                       value="true" {% if search_by_wildcard %}checked{% endif %}>
                <label class="form-check-label" for="inlineCheckbox3">{% trans %}Wildcard{% endtrans %}</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="reverse" id="inlineCheckbox4"
                       value="true" {% if search_by_reverse %}checked{% endif %}>
                <label class="form-check-label" for="inlineCheckbox4">{% trans %}Reverse{% endtrans %}</label>
            </div>
        </div>
    </div>
</form>

{% if has_zones %}
<div class="pb-3">
    <h5 class="mb-3 pt-3 border-top">{% trans %}Zones found{% endtrans %}</h5>
    <div class="pb-3 text-secondary">{% trans %}Total number of zones:{% endtrans %} {{ total_zones }}</div>
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>
                <a href="javascript:zone_sort_by('name');">{% trans %}Name{% endtrans %}</a>
                {% if zone_sort_by == 'name' %}
                    <i class="bi bi-arrow-{{ zone_sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th>
                <a href="javascript:zone_sort_by('type');">{% trans %}Type{% endtrans %}</a>
                {% if zone_sort_by == 'type' %}
                    <i class="bi bi-arrow-{{ zone_sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th>
                <a href="javascript:zone_sort_by('count_records');">{% trans %}Records{% endtrans %}</a>
                {% if zone_sort_by == 'count_records' %}
                    <i class="bi bi-arrow-{{ zone_sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th>
                <a href="javascript:zone_sort_by('fullname');">{% trans %}Owner{% endtrans %}</a>
                {% if zone_sort_by == 'fullname' %}
                    <i class="bi bi-arrow-{{ zone_sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for zone in found_zones %}
        <tr>
            <td>{{ zone['name'] }}</td>
            <td>{{ zone['type'] }}</td>
            <td>{{ zone['count_records'] }}</td>
            <td>{{ zone['fullname'] }}</td>
            <td>
                {% if edit_permission == 'all' or ((edit_permission == 'own' or edit_permission == 'own_as_client') and zone['user_id'] == user_id) %}
                <a class="btn btn-outline-primary btn-sm"
                   href="index.php?page=edit&id={{ zone['id'] }}">
                    <i class="bi bi-pencil-square"></i> {% trans %}Edit{% endtrans %}</a>
                <a class="btn btn-outline-danger btn-sm"
                   href="index.php?page=delete_domain&id={{ zone['id'] }}">
                    <i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if total_zones > iface_rowamount %}
    {% set max_visible_pages = 9 %}
    {% set total_zone_pages = (total_zones / iface_rowamount) | round(0, 'ceil') %}
    {% set half_visible_pages = max_visible_pages // 2 %}
    {% set zones_start_page = (zones_page - half_visible_pages) > 0 ? (zones_page - half_visible_pages) : 1 %}
    {% set zones_end_page = min(zones_start_page + max_visible_pages - 1, total_zone_pages) %}
    <nav>
        <ul class="pagination">
            {% if zones_page > 1 %}
            <li class="page-item"><a class="page-link" href="javascript:do_search_with_zones_page({{ zones_page - 1 }})">{% trans %}Previous{% endtrans %}</a></li>
            {% endif %}

            {% if zones_page > half_visible_pages + 1 %}
            <li class="page-item"><a class="page-link" href="javascript:do_search_with_zones_page(1)">1</a></li>
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">..</a></li>
            {% endif %}

            {% for i in zones_start_page..zones_end_page %}
            {% if i == zones_page %}
            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="javascript:do_search_with_zones_page({{ i }})">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if total_zone_pages > zones_end_page %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">..</a></li>
            <li class="page-item"><a class="page-link" href="javascript:do_search_with_zones_page({{ total_zone_pages }})">{{ total_zone_pages }}</a></li>
            {% endif %}

            {% if zones_page < total_zone_pages %}
            <li class="page-item"><a class="page-link" href="javascript:do_search_with_zones_page({{ zones_page + 1 }})">{% trans %}Next{% endtrans %}</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endif %}

{% if has_records %}
<div class="pb-3">
    <h5 class="mb-3 pt-3 border-top">{% trans %}Records found{% endtrans %}</h5>
    <div class="pb-3 text-secondary">{% trans %}Total number of records:{% endtrans %} {{ total_records }}</div>
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>
                <a href="javascript:record_sort_by('name');">{% trans %}Name{% endtrans %}</a>
                {% if record_sort_by == 'name' %}
                    <i class="bi bi-arrow-{{ record_sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th>
                <a href="javascript:record_sort_by('type');">{% trans %}Type{% endtrans %}</a>
                {% if record_sort_by == 'type' %}
                    <i class="bi bi-arrow-{{ record_sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th>
                <a href="javascript:record_sort_by('prio');">{% trans %}Priority{% endtrans %}</a>
                {% if record_sort_by == 'prio' %}
                    <i class="bi bi-arrow-{{ record_sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th>
                <a href="javascript:record_sort_by('content');">{% trans %}Content{% endtrans %}</a>
                {% if record_sort_by == 'content' %}
                    <i class="bi bi-arrow-{{ record_sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th>
                <a href="javascript:record_sort_by('ttl');">{% trans %}TTL{% endtrans %}</a>
                {% if record_sort_by == 'ttl' %}
                    <i class="bi bi-arrow-{{ record_sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th>
                <a href="javascript:record_sort_by('disabled');">{% trans %}Disabled{% endtrans %}</a>
                {% if record_sort_by == 'disabled' %}
                <i class="bi bi-arrow-{{ record_sort_direction == 'ASC' ? 'down' : 'up' }}"></i>
                {% endif %}
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for record in found_records %}
        <tr>
            <td>{{ record['name'] }}</td>
            <td>{{ record['type'] }}</td>
            <td>{{ record['prio'] }}</td>
            <td>{{ record['content'] }}</td>
            <td>{{ record['ttl'] }}</td>
            <td>{{ record['disabled'] }}</td>
            <td>
                {% if edit_permission == 'all' or ((edit_permission == 'own' or edit_permission == 'own_as_client') and record['user_id'] == user_id) %}
                <a class="btn btn-outline-primary btn-sm"
                   href="index.php?page=edit_record&domain={{ record['domain_id'] }}&id={{ record['id'] }}">
                    <i class="bi bi-pencil-square"></i> {% trans %}Edit{% endtrans %}</a>
                <a class="btn btn-outline-danger btn-sm"
                   href="index.php?page=delete_record&domain={{ record['domain_id'] }}&id={{ record['id'] }}">
                    <i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if total_records > iface_rowamount %}
    {% set max_visible_pages = 9 %}
    {% set total_records_pages = (total_records / iface_rowamount) | round(0, 'ceil') %}
    {% set half_visible_pages = max_visible_pages // 2 %}
    {% set records_start_page = (records_page - half_visible_pages) > 0 ? (records_page - half_visible_pages) : 1 %}
    {% set records_end_page = min(records_start_page + max_visible_pages - 1, total_records_pages) %}
    <nav>
        <ul class="pagination">
            {% if records_page > 1 %}
            <li class="page-item"><a class="page-link" href="javascript:do_search_with_records_page({{ records_page - 1 }})">{% trans %}Previous{% endtrans %}</a></li>
            {% endif %}

            {% if records_page > half_visible_pages + 1 %}
            <li class="page-item"><a class="page-link" href="javascript:do_search_with_records_page(1)">1</a></li>
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">..</a></li>
            {% endif %}

            {% for i in records_start_page..records_end_page %}
            {% if i == records_page %}
            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="javascript:do_search_with_records_page({{ i }})">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if total_records_pages > records_end_page %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">..</a></li>
            <li class="page-item"><a class="page-link" href="javascript:do_search_with_records_page({{ total_records_pages }})">{{ total_records_pages }}</a></li>
            {% endif %}

            {% if records_page < total_records_pages %}
            <li class="page-item"><a class="page-link" href="javascript:do_search_with_records_page({{ records_page + 1 }})">{% trans %}Next{% endtrans %}</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endif %}

{% if query is not empty and (not has_records and not has_zones) %}
<hr>
{% trans %}No results found{% endtrans %}
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        queryState.setPreviousQuery(document.search_form.query.value);
    });
</script>