<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans %}Search{% endtrans %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans %}Search zones and records{% endtrans %}</h5>
<span class="text-secondary">{% trans %}Enter a hostname or IP address. SQL LIKE syntax supported: an underscore (_) in pattern matches any single character, a percent sign (%) matches any string of zero or more characters.{% endtrans %}</span>
<form class="needs-validation" name="search_form" action="search.php" method="POST" novalidate>
    <input type="hidden" name="zone_sort_by" value="{{ zone_sort_by }}">
    <input type="hidden" name="record_sort_by" value="{{ record_sort_by }}">

    <div class="row pt-3 pb-3">
        <div class="col-sm-4">
            <div class="input-group has-validation">
                <input type="text" class="form-control form-control-sm" name="query" value="{{ query }}" required>
                <input type="submit" class="btn btn-primary btn-sm" name="do_search" value="{% trans %}Search{% endtrans %}">
                <div class="input-group-append">
                    <a href="search.php" class="btn btn-secondary btn-sm" role="button"><i class="bi bi-eraser"></i> {% trans %}Clear{% endtrans %}</a>
                </div>
                <div class="invalid-feedback">{% trans %}Provide a keyword for your search{% endtrans %}</div>
            </div>
        </div>
        <div class="col-sm-8 mt-1">
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="zones" id="inlineCheckbox1"
                       value="true" {% if search_by_zones %}checked{% endif %}>
                <label class="form-check-label" for="inlineCheckbox1">{% trans %}Zones{% endtrans %}</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="records" id="inlineCheckbox2"
                       value="true" {% if search_by_records %}checked{% endif %}>
                <label class="form-check-label" for="inlineCheckbox2">{% trans %}Records{% endtrans %}</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="wildcard" id="inlineCheckbox3"
                       value="true" {% if search_by_wildcard %}checked{% endif %}>
                <label class="form-check-label" for="inlineCheckbox3">{% trans %}Wildcard{% endtrans %}</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="reverse" id="inlineCheckbox4"
                       value="true" {% if search_by_reverse %}checked{% endif %}>
                <label class="form-check-label" for="inlineCheckbox4">{% trans %}Reverse{% endtrans %}</label>
            </div>
        </div>
    </div>
</form>

{% if has_zones %}
<div class="pb-3">
    <h5 class="mb-3 pt-3 border-top">{% trans %}Zones found{% endtrans %}</h5>
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th><a href="javascript:zone_sort_by('name');">{% trans %}Name{% endtrans %}</a> {% if zone_sort_by == 'name' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th><a href="javascript:zone_sort_by('type');">{% trans %}Type{% endtrans %}</a> {% if zone_sort_by == 'type' %}<i class="bi bi-arrow-down"></i>{% endif %} </th>
            <th><a href="javascript:zone_sort_by('count_records');">{% trans %}Records{% endtrans %}</a> {% if zone_sort_by == 'count_records' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th><a href="javascript:zone_sort_by('fullname');">{% trans %}Owner{% endtrans %}</a> {% if zone_sort_by == 'fullname' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for zone in found_zones %}
        <tr>
            <td>{{ zone['name'] }}</td>
            <td>{{ zone['type'] }}</td>
            <td>{{ zone['count_records'] }}</td>
            <td>{{ zone['fullname'] }}</td>
            <td>
                {% if edit_permission == 'all' or ((edit_permission == 'own' or edit_permission == 'own_as_client') and zone['user_id'] == user_id) %}
                <a class="btn btn-outline-primary btn-sm"
                   href="edit.php?name={{ zone['name'] }}&id={{ zone['id'] }}">
                    <i class="bi bi-pencil-square"></i> {% trans %}Edit{% endtrans %}</a>
                <a class="btn btn-outline-danger btn-sm"
                   href="delete_domain.php?name={{ zone['name'] }}&id={{ zone['id'] }}">
                    <i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if has_records %}
<div class="pb-3">
    <h5 class="mb-3 pt-3 border-top">{% trans %}Records found{% endtrans %}</h5>
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th><a href="javascript:record_sort_by('name');">{% trans %}Name{% endtrans %}</a> {% if record_sort_by == 'name' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th><a href="javascript:record_sort_by('type');">{% trans %}Type{% endtrans %}</a> {% if record_sort_by == 'type' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th><a href="javascript:record_sort_by('prio');">{% trans %}Priority{% endtrans %}</a> {% if record_sort_by == 'prio' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th><a href="javascript:record_sort_by('content');">{% trans %}Content{% endtrans %}</a> {% if record_sort_by == 'content' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th><a href="javascript:record_sort_by('ttl');">{% trans %}TTL{% endtrans %}</a> {% if record_sort_by == 'ttl' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for record in found_records %}
        <tr>
            <td>{{ record['name'] }}</td>
            <td>{{ record['type'] }}</td>
            <td>{{ record['prio'] }}</td>
            <td>{{ record['content'] }}</td>
            <td>{{ record['ttl'] }}</td>
            <td>
                {% if edit_permission == 'all' or ((edit_permission == 'own' or edit_permission == 'own_as_client') and record['user_id'] == user_id) %}
                <a class="btn btn-outline-primary btn-sm"
                   href="edit_record.php?domain={{ record['domain_id'] }}&id={{ record['id'] }}">
                    <i class="bi bi-pencil-square"></i> {% trans %}Edit{% endtrans %}</a>
                <a class="btn btn-outline-danger btn-sm"
                   href="delete_record.php?domain={{ record['domain_id'] }}&id={{ record['id'] }}">
                    <i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
