<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.php">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Search' %}</li>
    </ol>
</nav>

<h5 class="mb-3">{% trans 'Search zones and records' %}</h5>
<span class="text-secondary">{% trans 'Enter a hostname or IP address. SQL LIKE syntax supported: an underscore (_) in pattern matches any single character, a percent sign (%) matches any string of zero or more characters.' %}</span>
<form class="needs-validation" name="search_form" action="search.php" method="POST" novalidate>
    <input type="hidden" name="zone_sort_by" value="{{ zone_sort_by }}">
    <input type="hidden" name="record_sort_by" value="{{ record_sort_by }}">

    <div class="row pt-3 pb-3">
        <div class="col-sm-4">
            <div class="input-group has-validation">
                <input type="text" class="form-control form-control-sm" name="query" value="{{ query }}" required>
                <input type="submit" class="btn btn-primary btn-sm" name="do_search" value="{% trans 'Search' %}">
                <div class="input-group-append">
                    <a href="search.php" class="btn btn-secondary btn-sm" role="button"><i class="bi bi-eraser"></i> {% trans 'Clear' %}</a>
                </div>
                <div class="invalid-feedback">{% trans 'Provide a keyword for your search' %}</div>
            </div>
        </div>
        <div class="col-sm-8 mt-1">
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="zones" id="inlineCheckbox1"
                       value="true" {% if search_by_zones %}checked{% endif %}>
                <label class="form-check-label" for="inlineCheckbox1">{% trans 'Zones' %}</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="records" id="inlineCheckbox2"
                       value="true" {% if search_by_records %}checked{% endif %}>
                <label class="form-check-label" for="inlineCheckbox2">{% trans 'Records' %}</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="wildcard" id="inlineCheckbox3"
                       value="true" {% if search_by_wildcard %}checked{% endif %}>
                <label class="form-check-label" for="inlineCheckbox3">{% trans 'Wildcard' %}</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="reverse" id="inlineCheckbox4"
                       value="true" {% if search_by_reverse %}checked{% endif %}>
                <label class="form-check-label" for="inlineCheckbox4">{% trans 'Reverse' %}</label>
            </div>
        </div>
    </div>
</form>

{% if zones_found %}
<div class="pb-3">
    <h5 class="mb-3 pt-3 border-top">{% trans 'Zones found' %}</h5>
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th><a href="javascript:zone_sort_by('name');">{% trans 'Name' %}</a> {% if zone_sort_by == 'name' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th><a href="javascript:zone_sort_by('type');">{% trans 'Type' %}</a> {% if zone_sort_by == 'type' %}<i class="bi bi-arrow-down"></i>{% endif %} </th>
            <th><a href="javascript:zone_sort_by('count_records');">{% trans 'Records' %}</a> {% if zone_sort_by == 'count_records' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th><a href="javascript:zone_sort_by('fullname');">{% trans 'Owner' %}</a> {% if zone_sort_by == 'fullname' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if not search_result['zones'] %}
        <tr>
            <td colspan="5">{% trans 'No results found' %}</td>
        </tr>
        {% endif %}
        {% for zone in search_result['zones'] %}
        <tr>
            <td>{{ zone['name'] }}</td>
            <td>{{ zone['type'] }}</td>
            <td>{{ zone['count_records'] }}</td>
            <td>{{ zone['fullname'] }}</td>
            <td>
                {% if edit_permission == 'all' or edit_permission == 'own' and zone['user_id'] == user_id %}
                <?php && do_hook('verify_user_is_owner_zoneid', $zone['id'])): ?>
                <a class="btn btn-outline-primary btn-sm"
                   href="edit.php?name={{ zone['name'] }}&id={{ zone['id'] }}">
                    <i class="bi bi-pencil-square"></i> {% trans 'Edit zone' %}</a>
                <a class="btn btn-outline-danger btn-sm"
                   href="delete_domain.php?name={{ zone['name'] }}&id={{ zone['id'] }}">
                    <i class="bi bi-trash"></i> {% trans 'Delete zone' %}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if records_found %}
<div class="pb-3">
    <h5 class="mb-3 pt-3 border-top">{% trans 'Records found' %}</h5>
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th><a href="javascript:record_sort_by('name');">{% trans 'Name' %}</a> {% if record_sort_by == 'name' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th><a href="javascript:record_sort_by('type');">{% trans 'Type' %}</a> {% if record_sort_by == 'type' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th><a href="javascript:record_sort_by('prio');">{% trans 'Priority' %}</a> {% if record_sort_by == 'prio' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th><a href="javascript:record_sort_by('content');">{% trans 'Content' %}</a> {% if record_sort_by == 'content' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th><a href="javascript:record_sort_by('ttl');">{% trans 'TTL' %}</a> {% if record_sort_by == 'ttl' %}<i class="bi bi-arrow-down"></i>{% endif %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if not search_result['records'] %}
        <tr>
            <td colspan="6">{% trans 'No results found' %}</td>
        </tr>
        {% endif %}
        {% for record in search_result['records'] %}
        <tr>
            <td>{{ record['name'] }}</td>
            <td>{{ record['type'] }}</td>
            <td>{{ record['prio'] }}</td>
            <td>{{ record['content'] }}</td>
            <td>{{ record['ttl'] }}</td>
            <td>
                {% if edit_permission == 'all' or edit_permission == 'own' and record['user_id'] == user_id %}
                <?php if do_hook('verify_user_is_owner_zoneid', $record['domain_id'])): ?>
                <a class="btn btn-outline-primary btn-sm"
                   href="edit_record.php?domain={{ record['domain_id'] }}&id={{ record['id'] }}">
                    <i class="bi bi-pencil-square"></i> {% trans 'Edit zone' %}</a>
                <a class="btn btn-outline-danger btn-sm"
                   href="delete_record.php?domain={{ record['domain_id'] }}&id={{ record['id'] }}">
                    <i class="bi bi-trash"></i> {% trans 'Delete zone' %}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
