name: Issue Labeler

on:
  issues:
    types: [opened, edited]

permissions:
  contents: read
  issues: write

jobs:
  label-issues:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: github/issue-labeler@v3.4
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/issue-labeler.yml
          include-title: 1
          enable-versioned-regex: 0
