name: Composer

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Validate composer.json and composer.lock
      run: composer validate --strict --check-lock --with-dependencies

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v4
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

#    - name: Format code
#      run: composer format:all
#
#    - name: Style code
#      run: composer style:all
#
#    - name: Check code
#      run: composer check:all
#
#    - name: Analyse code
#      run: composer check:all

    - name: Run test suite
      run: composer tests

