name: Release

on:
  push:
    branches:
      - master
      - release/3.9.x
      - release/4.0.x

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          target-branch: ${{ github.ref_name }}
